<?php if ($this->pageCount): ?>
    <div class="col-md-6 page_1">
        <ul class="pagination pagination-sm margin-0">
            <!-- First page link -->
            <?php if ($this->current != 1): ?>
                <li>
                    <a href="<?php echo $this->url($this->route); ?>?page=<?php echo 1; ?>">
                        First
                    </a>
                </li>
            <?php endif; ?>
            <!-- Previous page link -->
            <?php if (isset($this->previous)): ?>
                <li>
                    <a href="<?php echo $this->url($this->route); ?>?page=<?php echo $this->previous; ?>">
                        <<
                    </a>
                </li>
            <?php else: ?>
                <li class="disabled">
                    <a href="#">
                        <<
                    </a>
                </li>
            <?php endif; ?>
            <!-- Numbered page links -->
            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if ($page != $this->current): ?>
                    <li>
                        <a href="<?php echo $this->url($this->route); ?>?page=<?php echo $page; ?>">
                            <?php echo $page; ?>
                        </a>
                    </li>
                <?php else: ?>
                    <li class="active">
                        <a href="#"><?php echo $page; ?></a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>

            <!-- Next page link -->
            <?php if (isset($this->next)): ?>
                <li>
                    <a href="<?php echo $this->url($this->route); ?>?page=<?php echo $this->next; ?>">
                        >>
                    </a>
                </li>
            <?php else: ?>
                <li class="disabled">
                    <a href="#">
                        >>
                    </a>
                </li>
            <?php endif; ?>
            <!-- First page link -->
            <?php if ($this->current != $this->pageCount): ?>
                <li>
                    <a href="<?php echo $this->url($this->route); ?>?page=<?php echo $this->pageCount; ?>">
                        Last
                    </a>
                </li>
            <?php endif; ?>
        </ul>
    </div>
<?php endif; ?>