<?php
$this->headTitle()->prepend($content->title);
$this->headMeta()->appendName('title', $content->meta_title);
$this->headMeta()->setProperty('og:title', $content->meta_title);
$this->headMeta()->appendName('keywords', $content->meta_keyword);
$this->headMeta()->appendName('description', $content->meta_description);
$this->headMeta()->appendName('og:description', $content->meta_description);
$this->headMeta();
?>
<div class="faqs-top-grids">
    <div class="book-grids">
        <div class="col-md-6 book-left">
            <div class="book-left-info">
                <h3><?php echo $this->escapeHtml($content->title); ?></h3>
            </div>
            <div class="book-left-form">
                <?php if ($this->error) { ?>
                    <div id="alert-success" onclick="javascript: successClose();" class="alert alert-danger" role="alert"> <?php echo $this->error; ?> </div>
                <?php } ?>
                <?php
                $form = $this->form;
                $form->prepare();
                $form->setAttribute('action', $this->url(NULL, array('controller' => 'Login', 'action' => 'index')));
                $form->setAttribute('method', 'post');
                echo $this->form()->openTag($form);
                ?>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('email'));
                    echo $this->formElement($form->get('email'));
                    echo $this->formElementErrors($form->get('email'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('password'));
                    echo $this->formElement($form->get('password'));
                    echo $this->formElementErrors($form->get('password'));
                    ?></div>
                <div class="form-group">
                    <?php echo $this->formSubmit($form->get('submit')); ?> <span> or <a href="<?php echo $this->url('user/signup'); ?>">Signup</a></span></div>
                <?php echo $this->form()->closeTag() ?>
                <span><a href="javascript: void();">Forgot your password?</a></span>
            </div>
        </div>
        <div class="col-md-6 book-left book-right">
            <div class="book-left-info">
                <h3>Social Login</h3>
            </div>
            <div class="book-left-bottom">
                <?php
                $fbuser = $this->CityList()->facebookLogin(true);
                if (empty($fbuser[0])) {
                    ?>
                    <div class="facebook-button">
                        <?php echo $fbuser[1]; ?>
                    </div>
                    <?php
                }
                $guser = $this->CityList()->googleLogin(true);
                if (empty($guser[0])) {
                    ?>
                    <div class="book-left-chrome">
                        <?php echo $guser[1]; ?>
                    </div>
                    <?php
                }
                if (isset($_GET['code'])) {
                    header('Location: ' . filter_var(BASE_URL, FILTER_SANITIZE_URL));
                    exit;
                }
                ?>
            </div>
            <!--<ul>
                <li>Access booking history with upcoming trips</li>
                <li>Print tickets and invoices</li>
                <li>Make checkouts simpler</li>
                <li>Enter your contact details only once</li>
                <li>Get alerts for low fares</li>
            </ul>-->
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
