<?php if ($this->error) { ?>
    <div id="alert-success" onclick="javascript: successClose();" class="alert alert-danger" role="alert"> <?php echo $this->error; ?> </div>
<?php } ?>
<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url('admin/login', array('action' => 'index')));
$form->setAttribute('method', 'post');
$form->setAttribute('role', 'form');
echo $this->form()->openTag($form);
?>
<div class="form-group"><?php
    echo $this->formElement($form->get('email'));
    echo $this->formElementErrors($form->get('email'));
    ?>
</div>
<div class="form-group"><?php
    echo $this->formElement($form->get('password'));
    echo $this->formElementErrors($form->get('password'));
    ?>
</div>
<!--<div class="form-group"><?php //echo $this->formElement($form->get('remember'));      ?></div>-->
<div class="submit"><?php
    echo $this->formElement($form->get('submit'));
    echo $this->formElementErrors($form->get('submit'));
    ?>
</div>
<ul class="new">
    <li class="new_left"><a href="#">Forgot Password ?</a></li>
    <div class="clearfix"></div>
</ul>
<?php echo $this->form()->closeTag() ?>
<script>
    function successClose() {
        $('#alert-success').hide();
        $('#alert-success').html('');
    }
</script>
