<?php
$find = array('[NAME]', '[CITY]');
$replace = array($userData->name, $userData->city . " " . $userData->state);
$this->headTitle()->prepend(str_replace($find, $replace, $content->title));
$this->headMeta()->appendName('title', str_replace($find, $replace, $content->meta_title));
$this->headMeta()->setProperty('og:title', str_replace($find, $replace, $content->meta_title));
$this->headMeta()->appendName('keywords', str_replace($find, $replace, $content->meta_keyword));
$this->headMeta()->appendName('description', str_replace($find, $replace, $content->meta_description));
$this->headMeta()->appendName('og:description', str_replace($find, $replace, $content->meta_description));
$this->headMeta();
?>
<?php
if (isset($userData) && !empty($userData)) {
    ?>
    <div class="faqs-top-grids">
        <!--single-page-->
        <div class="single-page" itemscope itemtype="http://schema.org/Attorney">
            <div class="col-md-8 single-gd-lt" >
                <div class="main-detail">
                    <?php
                    $uploadPath = BASE_DIR . "/uploads/images/" . $userData->image;
                    if (isset($userData->image) && !empty($userData->image) && file_exists($uploadPath)) {
                        $imgUrl = $this->basePath() . "/uploads/images/" . $userData->image;
                    } else {
                        $imgUrl = $this->basePath() . "/uploads/images/defaultuser.png";
                    }
                    ?>
                    <div class="img-detail"><img itemprop="image" src="<?php echo $imgUrl; ?>" alt="<?php echo $userData->name; ?>" title="<?php echo $userData->name; ?>" /></div>
                    <div class="single-pg-hdr head-detail">
                        <h2 itemprop="legalName"><?php echo $name = ucwords($userData->name); ?></h2>
                        <p itemprop="address"><?php echo $address = ucwords($userData->address . " " . $userData->city . " " . $userData->state . " " . $userData->zip); ?></p>
                        <?php if (!empty($userData->mobile)) { ?>
                            <p itemprop="telephone">Mobile: <a href="<?php echo ($this->CityList()->isMobile()) ? 'tel' : 'callto'; ?>:+91<?php echo $this->CityList()->cleanContact($userData->mobile); ?>">+91<?php echo $this->CityList()->cleanContact($userData->mobile); ?></a></p>
                        <?php } if (!empty($userData->phone)) { ?>
                            <p>Phone: <?php echo $userData->phone; ?></p>
                        <?php } if (!empty($userData->fax)) { ?>
                            <p itemprop="faxNumber">Fax: <?php echo $userData->fax; ?></p>
                        <?php } if (!empty($userData->email1)) { ?>
                            <p itemprop="email"><?php echo $userData->email1; ?></p>
                        <?php } $websiteurl = $userData->websiteurl; ?>
                        <p><a href="<?php echo $websiteurl; ?>" target="_blank"><?php echo $websiteurl; ?></a></p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="single-pg-hdr l-padding">
                        <?php if (!empty($userData->skill)) { ?>
                            <p><strong>Category: </strong><?php echo ucwords($userData->category); ?></p>
                        <?php } if (!empty($userData->skill)) { ?>
                            <p><strong>Court: </strong><?php echo $court = ucwords($userData->court); ?></p>
                        <?php } if (!empty($userData->skill)) { ?>
                            <p><strong>Skills: </strong><?php echo ucwords($userData->skill); ?></p>
                        <?php } if (!empty($userData->aboutus)) { ?>
                            <p><strong>About Us: </strong><?php echo ucfirst($userData->aboutus); ?></p>
                        <?php } ?>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <?php if (isset($userData->galleryimage) && !empty($userData->galleryimage)) { ?>
                    <div id="detail_flexslider" class="flexslider">
                        <ul class="slides">
                            <?php
                            foreach (explode(",", $userData->galleryimage) as $val) {
                                $uploadPath = BASE_DIR . "/uploads/gallery/" . $val;
                                if (isset($userData->image) && !empty($userData->image) && file_exists($uploadPath)) {
                                    $galleryUrl = $this->basePath() . "/uploads/gallery/" . $val;
                                    ?>
                                    <li data-thumb="<?php echo $galleryUrl; ?>">
                                        <img src="<?php echo $galleryUrl; ?>" alt="<?php echo $userData->name; ?>" title="<?php echo $userData->name; ?>"/>
                                    </li>
                                    <?php
                                }
                            }
                            ?>
                        </ul>
                    </div>
                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function () {
                            $('#detail_flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });
                    </script>
                <?php } ?>
                <!-- FlexSlider -->
            </div>
            <div class="col-md-4 single-gd-rt">
                <div class="spl-btn">
                    <div class="spl-btn-bor">
                        <!--<a href="#"> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> </a>-->
                        <p>Contacts to <?php echo ucwords($userData->name); ?></p>	
                    </div>
                    <div class="sp-bor-btn text-right">
                        <form role="form" id="contct-grid-left" action="javascript:void(0);" onsubmit="javascript: contactus(this);" method="post">
                            <div class="contct-grids">
                                <div class="contct-grid-left">
                                    <fieldset>
                                        <input value="detailpage" type="hidden" name="type" id="type">
                                        <input required="required" class="form-control" type="text" name="name" id="name" placeholder="Name">
                                    </fieldset>
                                    <fieldset>
                                        <input required="required" class="form-control" type="email" name="email" id="email" placeholder="Email">
                                    </fieldset>
                                    <fieldset>
                                        <input required="required" class="form-control" type="text" name="mobile" id="mobile" placeholder="Mobile">
                                    </fieldset>
                                    <fieldset>
                                        <input required="required" class="form-control" type="text" name="subject" id="subject" placeholder="Subject">
                                    </fieldset>
                                    <fieldset>
                                        <textarea required="required" class="form-control" placeholder="Message" id="usermessage" name="usermessage"></textarea>
                                    </fieldset>
                                    <fieldset>
                                        <input class="form-control" type="submit" id="submit" name="submit" value="Submit">
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="map-gd">
                    <?php if (isset($userLatLng['lat']) && !empty(isset($userLatLng['lat']))) { ?>
                        <div itemprop="hasMap" id="detail_map" style=" width: 335px; height: 500px;"></div>
                        <div class="clearfix"></div>
                        <script>
                            function initMap() {
                                var centers = {lat: <?php echo (isset($userLatLng['lat']) && !empty(isset($userLatLng['lat']))) ? $userLatLng['lat'] : ''; ?>, lng: <?php echo (isset($userLatLng['lng']) && !empty(isset($userLatLng['lng']))) ? $userLatLng['lng'] : ''; ?>};
                                var map = new google.maps.Map(document.getElementById('detail_map'), {
                                    zoom: 4,
                                    center: centers
                                });

                                var contentString = '<div id="content">' +
                                        '<div id="siteNotice">' +
                                        '</div>' +
                                        '<h1 id="firstHeading" class="firstHeading"><?php echo $name; ?></h1>' +
                                        '<div id="bodyContent">' +
                                        '<p><b><?php echo $name; ?></b>, <?php echo $address; ?></p>' +
                                        '<p><b>Contribution:</b> <?php echo $court; ?>, <a href="<?php echo $websiteurl; ?>">' +
                                        '<?php echo $websiteurl; ?></a> ' +
                                        '.</p>' +
                                        '</div>' +
                                        '</div>';

                                var infowindow = new google.maps.InfoWindow({
                                    content: contentString
                                });

                                var marker = new google.maps.Marker({
                                    position: centers,
                                    map: map,
                                    title: '<?php echo $name; ?>'
                                });
                                marker.addListener('click', function () {
                                    infowindow.open(map, marker);
                                });
                            }
                        </script>
                        <script async=true src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
                    <?php } ?>
                    <!--<div class="other-comments">
                        <div class="comments-head">
                            <h3>Excellent</h3>
                            <p>4.5/5</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="comments-bot">
                            <p>"Vestibulum ullamcorper condimentum luctus. Ut ullamcorper elit eu auctor commodo."</p>
                            <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> John Doe</h4>
                        </div>
                        <div class="comments-bot">
                            <p>"Aliquam non purus quis tellus varius egestas ut vitae tellus. Pellentesque non est ac tortor maximus imperdiet at id quam."</p>
                            <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Luther</h4>
                        </div>
                        <div class="comments-bot">
                            <p>"Vestibulum sapien quam, interdum quis bibendum quis, malesuada a nisi. Proin at blandit justo."</p>
                            <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Patrick</h4>
                        </div>
                    </div>-->
                </div>
                <div class="clearfix"></div>
            </div><div class="clearfix"></div>
            <!--//single-page-->
        </div>
        <div class="popular-grids" id="container_nearest_nearest">
            <!-- container -->
            <div class="container">
                <div class="popular-info">
                    <h3 id="nearest_nearest"></h3>
                </div>
                <!-- slider -->
                <div class="slider">
                    <div class="arrival-grids mr55">			 
                        <ul id="flexiselDetail">
                            <?php
                            $x = 0;
                            foreach ($userCityData as $val) {
                                $x++;
                                $uploadPath = BASE_DIR . "/uploads/images/" . $val->image;
                                if (isset($val->image) && !empty($val->image) && file_exists($uploadPath)) {
                                    $imgUrl = $this->basePath() . "/uploads/images/" . $val->image;
                                } else {
                                    $imgUrl = $this->basePath() . "/uploads/images/defaultuser.png";
                                }
                                $url = $val->id . "_" . $this->CityList()->cleanUrl($val->name);
                                $name = ucwords($val->name);
                                $addr = '';
                                if (!empty($val->address)) {
                                    $addr .= " " . ucfirst($val->address);
                                } if (!empty($val->zip)) {
                                    $addr .= " " . $val->zip;
                                } if (!empty($val->city)) {
                                    $addr .= " " . ucfirst($val->city);
                                }if (!empty($val->state)) {
                                    $addr .= " " . ucfirst($val->state);
                                }
                                ?>
                                <li itemscope itemtype="http://schema.org/Attorney">
                                    <a title="<?php echo $name . $addr; ?>" href="<?php echo $this->url('search', array('action' => 'detail', 'id' => $url)); ?>"><img itemprop="image" src="<?php echo $imgUrl; ?>" alt="<?php echo $val->name; ?>" title="<?php echo $val->name; ?>"></a>
                                    <div class="rate-features pad0A">
                                        <ul class="detail_nearest">
                                            <li><h4 itemprop="legalName"><a title="<?php echo $name . $addr; ?>" href="<?php echo $this->url('search', array('action' => 'detail', 'id' => $url)); ?>"><?php echo $this->CityList()->truncateString($name, 20); ?></a></h4></li>
                                            <li itemprop="address"><?php echo $this->CityList()->truncateString($addr, 35); ?></li>
                                            <?php if (!empty($val->mobile)) { ?>
                                                <li><a itemprop="telephone" href="<?php echo ($this->CityList()->isMobile()) ? 'tel' : 'callto'; ?>:+91<?php echo $this->CityList()->cleanContact($val->mobile); ?>">+91<?php echo $this->CityList()->cleanContact($val->mobile); ?></a></li>
                                            <?php } ?>
                                            <?php if (!empty($val->phone)) { ?>
                                                <li itemprop=""><?php echo $val->phone; ?></li>
                                            <?php }if (!empty($val->fax)) { ?>
                                                <li itemprop="faxNumber"><?php echo $val->fax; ?></li>
                                            <?php } ?>
                                            <?php if (!empty($val->websiteurl)) { ?>
                                                <li itemprop=""><a href="<?php echo $row->websiteurl; ?>" target="_blank"><?php echo $val->websiteurl; ?></a></li>
                                            <?php } ?>
                                        </ul>
                                    </div>
                                </li>
                            <?php } ?>
                        </ul>
                        <script type="text/javascript">
                            $(window).load(function () {
                                $("#flexiselDetail").flexisel({
                                    visibleItems: 5,
                                    animationSpeed: 1000,
                                    autoPlay: true,
                                    autoPlaySpeed: 3000,
                                    pauseOnHover: true,
                                    enableResponsiveBreakpoints: true,
                                    responsiveBreakpoints: {
                                        portrait: {
                                            changePoint: 480,
                                            visibleItems: 1
                                        },
                                        landscape: {
                                            changePoint: 640,
                                            visibleItems: 2
                                        },
                                        tablet: {
                                            changePoint: 768,
                                            visibleItems: 3
                                        }
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
                <!-- slider -->
            </div>
            <!-- container -->
        </div>
        <script>
            function contactus() {//data: form.serialize(),
                $.ajax({
                    url: baseUrl + "/page/contactdetail",
                    type: "POST",
                    data: $('#contct-grid-left').serialize(),
                    //contentType: false,
                    cache: false,
                    //processData: false,
                    dataType: "json",
                    success: function (data) {
                        if (data.status == true) {
                            alert(data.msg);
                            $('#contct-grid-left')[0].reset();
                        } else {
                            alert("Somethig going wrong!");
                        }
                    }
                });
            }
    <?php if ($x > 0) { ?>
                $('#nearest_nearest').html('<?php echo ucfirst($userData->usertype) . " in " . ucfirst($userData->city); ?> ');
    <?php } else { ?>
                $('#container_nearest_nearest').remove();
    <?php } ?>
        </script>
    <?php } ?>