<script>
    var redirectUrl = '<?php echo $_SERVER['REDIRECT_URL']; ?>';
    //var redirectUrl = '<?php echo $_SERVER['REQUEST_URI']; ?>';
    var query = '<?php echo (isset($select['query']) && !empty($select['query'])) ? $select['query'] : ''; ?>';
    var city = '<?php echo (isset($select['city']) && !empty($select['city'])) ? $select['city'] : ''; ?>';
    var type = '<?php echo (isset($select['type']) && !empty($select['type'])) ? $select['type'] : ''; ?>';
    function searchFilter() {
        var finalUrl = '';
        var items = '';
        var categoryItems = $('[name="category[]"]:checked').map(function () {
            return $(this).val().toString();
        }).get().join(",");

        if (categoryItems != '') {
            items += '&category=' + categoryItems;
        }

        var skillItems = $('[name="skill[]"]:checked').map(function () {
            return $(this).val().toString();
        }).get().join(",");
        if (skillItems != '') {
            items += '&skill=' + skillItems;
        }

        courtItems = $('[name="court[]"]:checked').map(function () {
            return $(this).val().toString();
        }).get().join(",");
        if (courtItems != '') {
            items += '&court=' + courtItems;
        }

        /*var page = $(".pagination .active span").text();
         if (page > 0) {
         items += '&page=' + page;
         }*/

        if (query != '') {
            items += '&q=' + query;
        }
        if (city != '') {
            items += '&city=' + city;
        }
        if (type != '') {
            items += '&type=' + type;
        }

        var chk = redirectUrl.indexOf("?");
        if (chk == -1 && items != '') {
            var newstring = items.substring(1);
            finalUrl = redirectUrl + '?' + newstring;
        }
        else {
            finalUrl = redirectUrl + items;
        }
        window.location.href = finalUrl;
    }
</script><div class="faqs-top-grids">
    <div class="product-grids">
        <div class="clearfix"> </div>
        <div class="col-md-3 product-left">
            <!--<div class="h-class scroll-y">
                <h5>Hotel Class</h5>
                <div class="hotel-price">
                    <label class="check">
                        <input type="checkbox">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="starTextLabel">5 Stars (18)</span>
                    </label>
                </div>
            </div>-->
            <div class="h-class p-day1 scroll-y">
                <h5>Category</h5>
                <?php
                $category = isset($select['category']) ? explode(',', $select['category']) : array();
                foreach ($dataFilters['mstCaseCat'] as $key => $val) {
                    ?>
                    <div class="hotel-price">
                        <label class="check">
                            <input name="category[]" onclick="javascript: searchFilter();" value="<?php echo urlencode($val); ?>" type="checkbox" <?php
                            if (in_array($val, $category)) {
                                echo 'checked="checked"';
                            }
                            ?> data-track="<?php echo $val; ?>">
                            <span class="p-day-grid"><?php echo $val; ?></span>
                        </label>
                    </div>
                <?php } ?>
            </div>
            <!--<div class="h-class scroll-y">
                <h5>Area</h5>
                <div class="hotel-price">
                    <label class="check">
                        <input type="radio" name="hideRegionId" checked="checked" data-track="HOT:SR:Area">
                        <span class="p-day-grid">London</span>
                    </label>
                </div>
            </div>-->
            <div class="h-class p-day scroll-y">
                <h5>Skills</h5>
                <?php
                $skill = isset($select['skill']) ? explode(',', $select['skill']) : array();
                foreach ($dataFilters['mstSkill'] as $key => $val) {
                    ?>
                    <div class="hotel-price">
                        <label class="check">
                            <input name="skill[]" onclick="javascript: searchFilter();" value="<?php echo urlencode($val); ?>" type="checkbox" <?php
                            if (in_array($val, $skill)) {
                                echo 'checked="checked"';
                            }
                            ?> data-track="<?php echo $val; ?>">
                            <span class="p-day-grid"><?php echo $val; ?></span>
                        </label>
                    </div>
                <?php } ?>
            </div>
            <div class="h-class p-day scroll-y">
                <h5>Court</h5>
                <?php
                $court = isset($select['court']) ? explode(',', $select['court']) : array();
                foreach ($dataFilters['mstCaseCourt'] as $key => $val) {
                    ?>
                    <div class="hotel-price">
                        <label class="check">
                            <input name="court[]" onclick="javascript: searchFilter();" value="<?php echo urlencode($val); ?>" type="checkbox" <?php
                            if (in_array($val, $court)) {
                                echo 'checked="checked"';
                            }
                            ?> data-track="<?php echo $val; ?>">
                            <span class="p-day-grid"><?php echo $val; ?></span>
                        </label>
                    </div>
                <?php } ?>
            </div>
        </div>
        <div class="col-md-9 product-right">
            <?php
            // SEARCH RESULTS
            if (count($searchResults)) {
                foreach ($searchResults as $row) {//echo "<pre>";print_r($row);echo "<pre>";
                    ?>
                    <div class="product-right-grids">
                        <div class="product-right-top">
                            <div class="p-left">
                                <div class="p-right-img">
                                    <?php
                                    $uploadPath = BASE_DIR . "/uploads/images/" . $row->image;
                                    if (isset($row->image) && !empty($row->image) && file_exists($uploadPath)) {
                                        $imgUrl = $this->basePath() . "/uploads/images/" . $row->image;
                                    } else {
                                        $imgUrl = $this->basePath() . "/uploads/images/defaultuser.png";
                                    }
                                    ?>
                                    <a href="<?php echo $this->url('search', array('action' => 'detail', 'id' => $row->uid)); ?>"><img src="<?php echo $imgUrl; ?>" alt="<?php echo $row->name; ?>" /></a>
                                </div>
                            </div>
                            <div class="p-right">
                                <div class="col-md-6 p-right-left">
                                    <a href="<?php echo $this->url('search', array('action' => 'detail', 'id' => $row->uid)); ?>"><?php echo $row->name; ?></a>
                                    <div class="p-right-price">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    </div>
                                    <p><?php echo $row->aboutus; ?></p>
                                    <p class="p-call">+<?php echo $row->mobile; ?></p>
                                    <p><?php echo $row->address . " " . $row->city . " " . $row->zip; ?></p>
                                </div>
                                <div class="col-md-6 p-right-right">
                                    <h6><?php echo $row->category; ?></h6>
                                    <p><?php echo $row->court; ?></p>
                                    <p><?php echo $row->skill; ?></p>
                                    <p><?php echo $row->email1; ?></p>
                                    <p><?php echo $row->websiteurl; ?></p>
                                    <!--<span class="p-offer"><?php //echo $row->skill;          ?></span><span class="p-last-price">$230</span>-->
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>	
                    </div>
                    <?php
                }
                echo "<nav>" . $links . "</nav>";
            } else {
                ?>
                <div class="product-right-top"><!-- onclick="javascript: successClose();"-->
                    <div id="alert-success" class="alert alert-danger" role="alert"> No Data found! Please try again. </div>
                    <div class="clearfix"> </div>
                </div>
            <?php } ?>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>