<?php
$title = 'Edit User Information';
$this->headTitle()->prepend($title);
?><?php $userSession = new \Zend\Session\Container('siteUser'); ?>
<div class="faqs-top-grids">
    <div class="book-grids">
        <div class="col-md-6 book-left">
            <div class="book-left-info">
                <h3><?php echo $this->escapeHtml($title); ?></h3>
            </div>
            <div class="book-left-form">
                <?php if ($this->error) { ?>
                    <div id="alert-success" onclick="javascript: successClose();" class="alert alert-danger" role="alert"> <?php echo $this->error; ?> </div>
                <?php } ?>
                <?php
                $form = $this->form;
                $form->prepare();
                $form->setAttribute('action', $this->url(NULL, array('controller' => 'Register', 'action' => 'editprofile')));
                $form->setAttribute('method', 'post');
                echo $this->form()->openTag($form);
                ?>
                <div class="form-group"><?php
                    echo $this->formElement($form->get('id'));
                    echo $this->formLabel($form->get('fname'));
                    echo $this->formElement($form->get('fname'));
                    echo $this->formElementErrors($form->get('fname'));
                    ?></div>
                <div class="form-group"><?php
                    echo $this->formLabel($form->get('lname'));
                    echo $this->formElement($form->get('lname'));
                    echo $this->formElementErrors($form->get('lname'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('email'));
                    echo $this->formElement($form->get('email'));
                    echo $this->formElementErrors($form->get('email'));
                    ?></div>
                <!-- <div class="form-group"> <?php
//        echo $this->formLabel($form->get('password'));
//        echo $this->formElement($form->get('password'));
//        echo $this->formElementErrors($form->get('password'));
                ?></div>-->
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('dob'));
                    echo $this->formElement($form->get('dob'));
                    echo $this->formElementErrors($form->get('dob'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('mobile'));
                    echo $this->formElement($form->get('mobile'));
                    echo $this->formElementErrors($form->get('mobile'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('phone'));
                    echo $this->formElement($form->get('phone'));
                    echo $this->formElementErrors($form->get('phone'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('address'));
                    echo $this->formElement($form->get('address'));
                    echo $this->formElementErrors($form->get('address'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('address2'));
                    echo $this->formElement($form->get('address2'));
                    echo $this->formElementErrors($form->get('address2'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('aboutus'));
                    echo $this->formElement($form->get('aboutus'));
                    echo $this->formElementErrors($form->get('aboutus'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('otherinfo'));
                    echo $this->formElement($form->get('otherinfo'));
                    echo $this->formElementErrors($form->get('otherinfo'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('fax'));
                    echo $this->formElement($form->get('fax'));
                    echo $this->formElementErrors($form->get('fax'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('email1'));
                    echo $this->formElement($form->get('email1'));
                    echo $this->formElementErrors($form->get('email1'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('image'));
                    echo $this->formElement($form->get('image'));
                    echo $this->formElementErrors($form->get('image'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('country'));
                    echo $this->formElement($form->get('country'));
                    echo $this->formElementErrors($form->get('country'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('state'));
                    echo $this->formElement($form->get('state'));
                    echo $this->formElementErrors($form->get('state'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('city'));
                    echo $this->formElement($form->get('city'));
                    echo $this->formElementErrors($form->get('city'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formLabel($form->get('zip'));
                    echo $this->formElement($form->get('zip'));
                    echo $this->formElementErrors($form->get('zip'));
                    ?></div>
                <div class="form-group"> <?php
                    echo $this->formElement($form->get('usertype'));
                    ?></div>
                <div class="form-group">
                    <?php echo $this->formSubmit($form->get('submit'));
                    ?></div>
                <?php echo $this->form()->closeTag() ?>
            </div>
        </div>
        <div class="col-md-6 book-left book-right">
            <div class="book-left-info">
                <h3>Profile Image</h3>
            </div>
            <div class="book-left-bottom">
                <div class="book-left-facebook">
                    <?php
                    $uploadPath = BASE_DIR . "/uploads/images/" . $image;
                    if (isset($image) && !empty($image) && file_exists($uploadPath)) {
                        $imgUrl = $this->basePath() . "/uploads/images/" . $image;
                    } elseif ($userSession->oauth_provider == 'google' || $userSession->oauth_provider == 'facebook') {
                        $imgUrl = $image;
                    } else {
                        $imgUrl = $this->basePath() . "/uploads/images/defaultuser.png";
                    }
                    ?>
                    <img width="250" src="<?php echo $imgUrl; ?>">
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<script>
    $("#dob").datepicker({dateFormat: 'yy-mm-dd'});
</script>