<?php
$title = 'Education';
$this->headTitle()->prepend($title);
?>
<div class="faqs-top-grids">
    <div class="book-grids">
        <div class="book-left-info">
            <h3><?php echo $this->escapeHtml($title); ?></h3>
        </div>
        <div class="book-left-form">
            <?php if ($this->error) { ?>
                <div id="alert-success" onclick="javascript: successClose();" class="alert alert-danger" role="alert"> <?php echo $this->error; ?> </div>
            <?php } ?>
            <?php
            $form = $this->form;
            $form->prepare();
            $form->setAttribute('action', $this->url(NULL, array('controller' => 'User', 'action' => 'education', 'id' => $this->id,)));
            $form->setAttribute('method', 'post');
            echo $this->form()->openTag($form);
            ?>
            <div class="form-group"><?php
                echo $this->formElement($form->get('id'));
                echo $this->formLabel($form->get('title'));
                echo $this->formElement($form->get('title'));
                echo $this->formElementErrors($form->get('title'));
                ?></div>
            <div class="form-group"><?php
                echo $this->formLabel($form->get('description'));
                echo $this->formElement($form->get('description'));
                echo $this->formElementErrors($form->get('description'));
                ?></div>
            <div class="form-group"> <?php
                echo $this->formLabel($form->get('start_year'));
                echo $this->formElement($form->get('start_year'));
                echo $this->formElementErrors($form->get('start_year'));
                ?></div>
            <div class="form-group"> <?php
                echo $this->formLabel($form->get('finish_year'));
                echo $this->formElement($form->get('finish_year'));
                echo $this->formElementErrors($form->get('finish_year'));
                ?></div>
            <div class="form-group"> <?php
                echo $this->formLabel($form->get('percentage'));
                echo $this->formElement($form->get('percentage'));
                echo $this->formElementErrors($form->get('percentage'));
                ?></div>
            <div class="form-group"> <?php
                echo $this->formLabel($form->get('education_type'));
                echo $this->formElement($form->get('education_type'));
                echo $this->formElementErrors($form->get('education_type'));
                ?></div>
            <div class="form-group">
                <?php echo $this->formSubmit($form->get('submit'));
                ?></div>
            <?php echo $this->form()->closeTag() ?>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
