<?php $userSession = new \Zend\Session\Container('siteUser'); ?>
<div class="faqs-top-grids">
    <div class="product-grids">
        <div class="col-md-3 product-left">
            <div class="h-class">
                <h5>Welcome! <?php echo ucfirst($userData->fname) . " " . ucfirst($userData->lname); ?></h5>
                <div class="hotel-price">
                    <?php
                    $uploadPath = BASE_DIR . "/uploads/images/" . $userData->image;
                    if (isset($userData->image) && !empty($userData->image) && file_exists($uploadPath)) {
                        $imgUrl = $this->basePath() . "/uploads/images/" . $userData->image;
                    } elseif ($userSession->oauth_provider == 'google' || $userSession->oauth_provider == 'facebook') {
                        $imgUrl = $userData->image;
                    } else {
                        $imgUrl = $this->basePath() . "/uploads/images/defaultuser.png";
                    }
                    ?>
                    <img width="150" src="<?php echo $imgUrl; ?>">
                </div>
            </div>
            <div class="h-class">
                <h5>Details</h5>
                <ul class="details-user">
                    <li><span class="p-day-grid"><?php echo $userData->fname . " " . $userData->lname; ?></span></li>
                    <li><span class="p-day-grid"><?php echo $userData->email; ?></span></li>
                    <li><span class="p-day-grid"><?php echo $userData->address; ?></span></li>
                    <li><span class="p-day-grid"><?php echo $userData->city; ?></span></li>
                    <li><span class="p-day-grid"><?php echo $userData->mobile; ?></span></li>
            </div>
        </div>
    </div>
    <div class="col-md-9 product-right">
        <div class="product-right-top">
            <table class="table-exp-edu table table-bordered">
                <tr>
                    <td colspan="4" align="left"><strong>Experience</strong></td>
                    <td><a href="<?php echo $this->url('user/user', array('action' => 'experience')); ?>"><img title="<?php echo $this->translate('Add Experience'); ?>" src="<?php echo $this->basePath() . "/images/add-new.png"; ?>" /><?php echo $this->translate('Add Experience'); ?></a> </td>
                </tr>
                <tr>
                    <td>Company</td>
                    <td>Designation</td>
                    <td>Join date</td>
                    <td>Release date</td>
                    <td>Action</td>
                </tr>
                <?php
                if (isset($expData) && count($expData) > 0) {
                    foreach ($expData as $row) {
                        ?>
                        <tr>
                            <td><?php echo $row->company; ?></td>
                            <td><?php echo $row->designation; ?></td>
                            <td><?php echo $row->join_date; ?></td>
                            <td><?php echo $row->release_date; ?></td>
                            <td><a href="<?php echo $this->url('user/user', array('action' => 'experience', 'id' => $row->id)); ?>"><img title="<?php echo $this->translate('Edit'); ?>" src="<?php echo $this->basePath() . "/images/edit.png"; ?>" /></a> |
                                <a onclick="return confirm('Are you sure you want to delete this item?');" href="<?php echo $this->url('user/user', array('action' => 'delexp', 'id' => $row->id)); ?>"><img title="<?php echo $this->translate('Delete'); ?>" src="<?php echo $this->basePath() . "/images/delete.png"; ?>" /></a></td>
                        </tr>
                        <?php
                    }
                }
                ?>
            </table>
        </div>
        <div class="product-right-top">
            <table class="table-exp-edu table table-bordered">
                <tr>
                    <td colspan="6" align="left"><strong>Education</strong></td>
                    <td><a href="<?php echo $this->url('user/user', array('action' => 'education')); ?>"><img title="<?php echo $this->translate('Add Education'); ?>" src="<?php echo $this->basePath() . "/images/add-new.png"; ?>" /><?php echo $this->translate('Add Education'); ?></a></td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Start year</td>
                    <td>Finish year</td>
                    <td>Percentage</td>
                    <td>Education type</td>
                    <td>Action</td>
                </tr>
                <?php
                if (isset($eduData) && count($eduData) > 0) {
                    foreach ($eduData as $row) {
                        ?>
                        <tr>
                            <td><?php echo $row->title; ?></td>
                            <td><?php echo $row->description; ?></td>
                            <td><?php echo $row->start_year; ?></td>
                            <td><?php echo $row->finish_year; ?></td>
                            <td><?php echo $row->percentage; ?></td>
                            <td><?php echo $row->education_type; ?></td>
                            <td><a href="<?php echo $this->url('user/user', array('action' => 'education', 'id' => $row->id)); ?>"><img title="<?php echo $this->translate('Edit'); ?>" src="<?php echo $this->basePath() . "/images/edit.png"; ?>" /></a> | <a onclick="return confirm('Are you sure you want to delete this item?');" href="<?php echo $this->url('user/user', array('action' => 'deledu', 'id' => $row->id)); ?>"><img title="<?php echo $this->translate('Delete'); ?>" src="<?php echo $this->basePath() . "/images/delete.png"; ?>" /></a></td>
                        </tr>
                        <?php
                    }
                }
                ?>
            </table>    
        </div>
        <div class="product-right-top">
            <table class="table-exp-edu table table-bordered">
                <tr>
                    <td colspan="3" align="left"><strong>My Blog</strong></td>
                    <td><a href="<?php echo $this->url('blog', array('action' => 'newblog')); ?>"><img title="<?php echo $this->translate('Add Blog'); ?>" src="<?php echo $this->basePath() . "/images/add-new.png"; ?>" /><?php echo $this->translate('Add Blog'); ?></a></td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Status</td>
                    <td>Action</td>
                </tr>
                <?php
                if (isset($userBlog) && count($userBlog) > 0) {
                    foreach ($userBlog as $row) {
                        ?>
                        <tr>
                            <td><?php echo $row->title; ?></td>
                            <td title="<?php echo trim(strip_tags($row->content)); ?>"><?php echo trim(substr(strip_tags($row->content), 0, 80)); ?></td>
                            <td><?php
                                if ($row->status == 1) {
                                    $img = "active.png";
                                    $status = "Active";
                                } else {
                                    $img = "inactive.png";
                                    $status = "InActive";
                                }
                                ?><img title="<?php echo $this->translate($status); ?>" src="<?php echo $this->basePath() . "/images/" . $img; ?>" /></td>
                            <td><a href="<?php echo $this->url('blog', array('action' => 'editblog', 'id' => $row->id)); ?>"><img title="<?php echo $this->translate('Edit'); ?>" src="<?php echo $this->basePath() . "/images/edit.png"; ?>" /></a> | <a onclick="return confirm('Are you sure you want to delete this item?');" href="<?php echo $this->url('blog', array('action' => 'delete', 'id' => $row->id)); ?>"><img title="<?php echo $this->translate('Delete'); ?>" src="<?php echo $this->basePath() . "/images/delete.png"; ?>" /></a></td>
                        </tr>
                        <?php
                    }
                }
                ?>
            </table>    
        </div>
        <div class="product-right-top">
            <table class="table-exp-edu table table-bordered">
                <tr>
                    <td align="center"><strong>Gallery Images</strong></td>
                </tr>
                <tr>
                    <td id="uploadedimage">
                        <?php
                        if (isset($userData->galleryimage) && !empty($userData->galleryimage)) {
                            $arrImg = explode(",", $userData->galleryimage);
                            foreach ($arrImg as $val) {
                                echo '<span  id="' . str_replace('.', '', $val) . '"><img onclick="deleteimage(\'' . $val . '\');" id="' . $val . '" src="' . $this->basePath() . '/uploads/gallery/' . $val . '"></span>';
                            }
                        }
                        ?></td>
                </tr>
                <tr id="trUploadImageForm">
                    <td><form role="form"  id="uploadImageForm" action="javascript:void(0)" enctype= "multipart/form-data" onsubmit="uploadimage(this);">
                            <div class="form-group">
                                <label for="file">Select Image</label>
                                <input required="required" type="file" name="uploadImage" class="form-control-file" id="uploadImage">
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form></td>
                </tr>
            </table>    
        </div>
    </div>
    <div class="clearfix"> </div>
    <script>
        function hideForm(id) {
            if (id > 9) {
                $('#trUploadImageForm').hide();
            } else {
                $('#trUploadImageForm').show();
            }
        }
        $(document).ready(function () {
            hideForm($('#uploadedimage img').length);
            $('#lichnagepassword').show();
        });
        function uploadimage(el) {
            //$("#uploadedimage").html("Uploading Please wait.........");
            var ext = $('#uploadImage').val().split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                alert('invalid extension!');
                return false;
            }
            $.ajax({
                url: baseUrl + "/user/user/uploadImage",
                type: "POST",
                data: new FormData(el),
                contentType: false,
                cache: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                    if (data.status == true) {
                        var id = data.msg.replace(".", "");
                        var img = '<span  id="' + id + '"><img onclick="deleteimage(\'' + data.msg + '\');" src="' + baseUrl + '/uploads/gallery/' + data.msg + '"></span>';
                        $("#uploadedimage").append(img);
                        $('#uploadImageForm')[0].reset();
                        hideForm($('#uploadedimage img').length);
                    } else {
                        alert("Somethig going wrong!");
                    }
                }
            });
        }

        function deleteimage(img) {
            var del = confirm("Are you sure you want to delete this image?");
            if (del) {
                $.ajax({
                    url: baseUrl + "/user/user/deleteImage",
                    type: "GET",
                    data: "img=" + img,
                    contentType: false,
                    cache: false,
                    processData: false,
                    dataType: "json",
                    success: function (data) {
                        if (data.status == true) {
                            $("#" + data.msg).html('');
                            hideForm($('#uploadedimage img').length);
                        } else {
                            alert("Somethig going wrong!");
                        }
                    }
                });
            }
        }
        function updatePassword() {
            $("#msgupdate").html('');
            var confirm_password = $('#confirm_password').val();
            var password = $('#password').val();
            $('#updatePasswordForm input').removeClass('border-red');
            if (password == '') {
                $('#password').addClass("border-red")
                return false;
            }
            if (confirm_password == '') {
                $('#confirm_password').addClass("border-red")
                return false;
            }
            if (password != confirm_password) {
                $('#msgupdate').html("Your password and confirmation password do not match. Please change one.")
                return false;
            }

            $.ajax({
                url: baseUrl + "/user/user/updatePassword",
                type: "GET",
                data: "password=" + password,
                contentType: false,
                cache: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                    if (data.status == true) {
                        $("#msgupdate").html(data.msg);
                        $('#updatePasswordForm')[0].reset();
                    } else {
                        alert("Somethig going wrong!");
                    }
                }
            });
        }
        function openPasswordDiv() {
            var height = $(document).height();
            var width = $(document).width();
            $('#overlay').css({
                height: height + "px",
                width: width + "px",
                // backgroundColor: "green"
            });
            $('#overlay').show();
            $('#popup').show();
        }
        $(document).ready(function () {
            $("#overlay, #popupclose").click(function () {
                $('#overlay').hide();
                $('#popup').hide();
            });
        });
        $(window).resize(function () {
            var height = $(document).height();
            var width = $(document).width();
            $('#overlay').css({
                height: height + "px",
                width: width + "px",
            });
        });
    </script>
</div>
</div>
<div id="overlay"></div>
<div id="popup">
    <div class="popupcontrols">
        <span id="popupclose">&times;</span>
    </div>
    <div class="popupcontent">
        <table>
            <tr id="updatePasswordDiv">
                <td><div><strong>Change Password</strong></div><span id="msgupdate"></span>             
                    <form id="updatePasswordForm">
                        <div class="login-grids">
                            <div class="login-grid-left">
                                <fieldset>
                                    <input type="password" name="password" id="password" value="" placeholder="New Password">
                                </fieldset>
                                <fieldset>
                                    <input type="password" name="confirm_password" id="confirm_password" value="" placeholder="Confirm Password">
                                </fieldset>
                                <button onclick="javascript: updatePassword();" type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

<style>
    #overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #999;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 100;
    }
    #popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        background: #fff;
        width: 300px;
        height: 200px;
        margin-left: -100px; /*Half the value of width to center div*/
        margin-top: -100px; /*Half the value of height to center div*/
        z-index: 200;
        border:5px solid #cccccc; border-radius:10px;
    }
    #popupclose {
        float: right;
        padding: 0px 5px;
        cursor: pointer;
    }
    .popupcontent {
        padding: 10px;
    }
</style>