<?php
$title = 'Experience';
$this->headTitle()->prepend($title);
?>
<div class="faqs-top-grids">
    <div class="book-grids">
        <div class="book-left-info">
            <h3><?php echo $this->escapeHtml($title); ?></h3>
        </div>
        <?php if ($this->error) { ?>
            <div id="alert-success" onclick="javascript: successClose();" class="alert alert-danger" role="alert"> <?php echo $this->error; ?> </div>
        <?php } ?>
        <?php
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('action', $this->url(NULL, array('controller' => 'User', 'action' => 'professionalskill',)));
        $form->setAttribute('method', 'post');
        echo $this->form()->openTag($form);
        ?>
        <div class="form-group"><?php
            echo $this->formElement($form->get('id'));
            echo $this->formLabel($form->get('resume'));
            echo $this->formElement($form->get('resume'));
            echo $this->formElementErrors($form->get('resume'));
            ?></div>
        <div class="form-group"><?php
            echo $this->formLabel($form->get('websiteurl'));
            echo $this->formElement($form->get('websiteurl'));
            echo $this->formElementErrors($form->get('websiteurl'));
            ?></div>
        <div class="form-group"><?php
            echo $this->formLabel($form->get('summary'));
            echo $this->formElement($form->get('summary'));
            echo $this->formElementErrors($form->get('summary'));
            ?></div>

        <div class="form-group"><?php
            echo $this->formLabel($form->get('category_id'));
            echo $this->formElement($form->get('category_id'));
            echo $this->formElementErrors($form->get('category_id'));
            ?></div>
        <div class="form-group"> <?php
            echo $this->formLabel($form->get('court_id'));
            echo $this->formElement($form->get('court_id'));
            echo $this->formElementErrors($form->get('court_id'));
            ?></div>
        <div class="form-group"> <?php
            echo $this->formLabel($form->get('skill_id'));
            echo $this->formElement($form->get('skill_id'));
            echo $this->formElementErrors($form->get('skill_id'));
            ;
            ?></div>
        <div class="form-group">
            <?php echo $this->formSubmit($form->get('submit'));
            ?></div>
        <?php echo $this->form()->closeTag() ?>
        <div class="clearfix"> </div>
    </div>
</div>
<script>
    var categoryArray = [];
<?php
foreach ($setData['category_id'] as $val) {
    if ($val) {
        echo 'categoryArray[' . $val . ']=' . $val . ';';
    }
}
?>
    $('#category_id').val(categoryArray);
    var courtArray = [];
<?php
foreach ($setData['court_id'] as $val) {
    if ($val) {
        echo 'courtArray[' . $val . ']=' . $val . ';';
    }
}
?>
    $('#court_id').val(courtArray);
    var skillArray = [];
<?php
foreach ($setData['skill_id'] as $val) {
    if ($val) {
        echo 'skillArray[' . $val . ']=' . $val . ';';
    }
}
?>
    $('#skill_id').val(skillArray);
</script>
