<?php
$title = 'List users';
$this->headTitle($title);
$noData = 0;
?>
<div class="xs">
    <h3><?php echo $this->escapeHtml($title); ?></h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>  <a href="<?php echo $this->url('admin/index'); ?>">Dashboard</a></li>
        <li class="active"><i class="fa fa-table"></i> <?php echo $this->escapeHtml($title); ?></li>
        <li class="last-child"><a href="<?php echo $this->url('admin/user-manager', array('action' => 'add')); ?>">Add User</a></li>
    </ol>
    <div class="bs-example4" data-example-id="simple-responsive-table">
        <div class="table-responsive">
            <div onclick="javascript: successClose();" id="alert-success" style="display: none;" class="alert alert-success" role="alert"></div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>City/State</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($users as $user) {
                        $noData = 1;
                        ?>
                        <tr title="<?php echo ucfirst($this->escapeHtml($user->usertype)) . " " . $this->escapeHtml($user->state); ?>">
                            <th scope="row"><?php echo $page; ?></th>
                            <td><?php echo $this->escapeHtml($user->fname) . " " . $this->escapeHtml($user->lname); ?></td>
                            <td><?php echo $this->escapeHtml($user->email); ?></td>
                            <td><?php echo $this->escapeHtml($user->mobile); ?></td>
                            <td><?php echo $this->escapeHtml($user->address); ?></td>
                            <td><?php
                                if (!empty($user->city) && !empty($user->state)) {
                                    echo $this->escapeHtml($user->city) . ", " . $this->escapeHtml($user->state);
                                } else {
                                    echo $this->escapeHtml($user->city) . $this->escapeHtml($user->state);
                                }
                                ?></td>
                            <td><div class="dropdown">
                                    <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog icon_8"></i>
                                        <i class="fa fa-chevron-down icon_8"></i>
                                        <div class="ripple-wrapper"></div></a>
                                    <ul class="dropdown-menu float-right">
                                        <li>
                                            <a href="<?php echo $this->url('admin/user-manager', array('action' => 'edit', 'id' => $user->id)); ?>" title="">
                                                <i class="fa fa-pencil-square-o icon_9"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript: void(0);" onclick="javascript: resetPassword(<?php echo $user->id; ?>)" title="">
                                                <i class="fa fa-calendar icon_9"></i>
                                                Reset Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="">
                                                <i class="fa fa-download icon_9"></i>
                                                Download
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a onclick="return confirm('Are you sure you want to delete?')" href="<?php echo $this->url('admin/user-manager', array('action' => 'delete', 'id' => $user->id)); ?>" class="font-red" title="">
                                                <i class="fa fa-times" icon_9=""></i>
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </td>
                        </tr>
                        <?php
                        $page++;
                    }
                    ?>
                    <?php if ($noData == 0) { ?>
                        <tr>
                            <td colspan="7" class="alert alert-danger" role="alert">No data found.</td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>

            <?php
            // add at the end of the file after the table
            echo $this->paginationControl(
                    // the paginator object
                    $this->users, 'sliding',
                    // the partial to use to render the control
                    array('partial/paginator.phtml', 'Admin'),
                    // the route to link to when a user clicks a control link
                    array(
                'route' => 'admin/user-manager'
                    )
            );
            ?>
        </div>
    </div>
</div>
<script>
    function resetPassword(id) {
        $('#alert-success').hide();
        $('#alert-success').html('');
        var del = confirm("Are you sure you want to reset password?");
        if (del) {
            $.ajax({
                url: baseUrl + "/admin/user-manager/resetPassword",
                type: "GET",
                data: "id=" + id,
                contentType: false,
                cache: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                    if (data.status == true) {
                        $('#alert-success').show();
                        $('#alert-success').html(data.msg);
                    } else {
                        $('#alert-success').html("Somethig going wrong!");
                    }
                }
            });
        }
    }    
</script>