<?php
$title = 'Blog Comments';
$this->headTitle($title);
$noData = 0;
?>
<div class="xs">
    <h3><?php echo $this->escapeHtml($title); ?></h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>  <a href="<?php echo $this->url('admin/index'); ?>">Dashboard</a></li>
        <li class="active"><i class="fa fa-table"></i> <?php echo $this->escapeHtml($title); ?></li>
        <li class="last-child"><a href="<?php echo $this->url('admin/blog', array('action' => 'index')); ?>">Back</a></li>
    </ol>
    <div class="bs-example4" data-example-id="simple-responsive-table">
        <div class="table-responsive">
            <div onclick="javascript: successClose();" id="alert-success" style="display: none;" class="alert alert-success" role="alert"></div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>title</th>
                        <th>Content</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    $page = 1;
                    foreach ($blogComment as $row) {
                        $noData = 1;
                        ?>
                        <tr>
                            <th scope="row"><?php echo $page; ?></th>
                            <td><?php echo $this->escapeHtml($row->author); ?> (<?php echo $this->escapeHtml($row->email); ?>)</td>
                            <td title="<?php echo trim(strip_tags($row->content)); ?>"><?php echo trim(substr(strip_tags($row->content), 0, 80)); ?></td>
                            <td><?php echo date("F j Y g:i a", $row->created); ?></td>
                            <td><?php
                                if ($row->status == 1) {
                                    echo "Active";
                                    $status = 0;
                                } else {
                                    echo "InActive";
                                    $status = 1;
                                }
                                ?></td>
                            <td><div class="dropdown">
                                    <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog icon_8"></i>
                                        <i class="fa fa-chevron-down icon_8"></i>
                                        <div class="ripple-wrapper"></div></a>
                                    <ul class="dropdown-menu float-right">
                                        <li>
                                            <a href="javascript: void(0);" onclick="javascript: updateCommentStatus(<?php echo $row->id; ?>,<?php echo $status; ?>);">
                                                <i class="fa fa-pencil-square-o icon_9"></i>
                                                Status
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a  onclick="javascript: deleteComment(<?php echo $row->id; ?>, '-1');" href="javascript: void(0);" class="font-red">
                                                <i class="fa fa-times" icon_9=""></i>
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </td>
                        </tr>
                        <?php
                        $page++;
                    }
                    ?>
                    <?php if ($noData == 0) { ?>
                        <tr>
                            <td colspan="5" class="alert alert-danger" role="alert">No data found.</td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function updateCommentStatus(id, status) {//data: form.serialize(),
        var msgConfirm = "";
        if (status == 1) {
            msgConfirm = "Are you sure you want to active this comment?";
        } else {
            msgConfirm = "Are you sure you want to inactive this comment?";
        }
        var updateStatus = confirm(msgConfirm);
        if (updateStatus) {
            $.ajax({
                url: baseUrl + "/admin/blog/updateCommentStatus",
                type: "POST",
                data: {id: id, status: status},
                //contentType: false,
                cache: false,
                //processData: false,
                dataType: "json",
                success: function (data) {
                    if (data.status == true) {
                        alert(data.msg);
                        window.location.href = window.location.href;
                    } else {
                        alert("Somethig going wrong!");
                    }
                }
            });
        }
    }

    function deleteComment(id, status) {
        var del = confirm("Are you sure you want to delete this comment?");
        if (del) {
            $.ajax({
                url: baseUrl + "/admin/blog/updateCommentStatus",
                type: "POST",
                data: {id: id, status: status},
                //contentType: false,
                cache: false,
                //processData: false,
                dataType: "json",
                success: function (data) {
                    if (data.status == true) {
                        alert(data.msg);
                        window.location.href = window.location.href;
                    } else {
                        alert("Somethig going wrong!");
                    }
                }
            });
        }
    }
</script>