<?php
$title = 'Edit Blog';
$this->headTitle($title);
echo $this->headScript()->appendFile($this->basePath() . '/js/ckeditor/ckeditor.js');
?>
<!-- Page Heading -->
<div class="xs">
    <h3><?php echo $this->escapeHtml($title); ?></h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>  <a href="<?php echo $this->url('admin/index'); ?>">Dashboard</a></li>
        <li class="active"><i class="fa fa-edit"></i><?php echo $this->escapeHtml($title); ?></li>
    </ol>
    <div class="well1 white">
        <?php if ($this->error) { ?>
            <div id="alert-success" onclick="javascript: successClose();" class="alert alert-danger" role="alert"> <?php echo $this->error; ?> </div>
        <?php } ?>
        <?php
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('action', $this->url('admin/blog', array('action' => 'edit')));
        $form->setAttribute('method', 'post');
        echo $this->form()->openTag($form);
        ?>
        <div class="form-group"><?php
            echo $this->formElement($form->get('id'));
            echo $this->formLabel($form->get('title'));
            echo $this->formElement($form->get('title'));
            echo $this->formElementErrors($form->get('title'));
            ?></div>
        <div class="form-group"> <?php
            echo $this->formLabel($form->get('category_id'));
            echo $this->formElement($form->get('category_id'));
            echo $this->formElementErrors($form->get('category_id'));
            ?></div>
        <div class="form-group"><?php
            echo $this->formLabel($form->get('content'));
            echo $this->formElement($form->get('content'));
            echo $this->formElementErrors($form->get('content'));
            ?></div>
        <div class="form-group"> <?php
            echo $this->formLabel($form->get('status'));
            echo $this->formElement($form->get('status'));
            echo $this->formElementErrors($form->get('status'));
            ?></div>
        <div class="form-group">
            <?php echo $this->formSubmit($form->get('submit'));
            ?></div>
        <?php echo $this->form()->closeTag() ?>
    </div>
</div>
<script>
    CKEDITOR.replace('content', {uiColor: '#636060', filebrowserBrowseUrl: '<?php echo $this->basePath(); ?>/js/ckeditor/filemanager/browser/default/browser.html?Connector=<?php echo $this->basePath(); ?>/js/ckeditor/filemanager/connectors/php/connector.php',
        filebrowserImageBrowseUrl: '<?php echo $this->basePath(); ?>/js/ckeditor/filemanager/browser/default/browser.html?Type=Image&Connector=<?php echo $this->basePath(); ?>/js/ckeditor/filemanager/connectors/php/connector.php',
        filebrowserFlashBrowseUrl: '<?php echo $this->basePath(); ?>/js/ckeditor/filemanager/browser/default/browser.html?Type=Flash&Connector=<?php echo $this->basePath(); ?>/js/ckeditor/filemanager/connectors/php/connector.php',
        filebrowserUploadUrl: '<?php echo $this->basePath(); ?>/js/ckeditor/filemanager/connectors/php/upload.php?Type=File',
        filebrowserImageUploadUrl: '<?php echo $this->basePath(); ?>/js/ckeditor/filemanager/connectors/php/upload.php?Type=Image',
        filebrowserFlashUploadUrl: '<?php echo $this->basePath(); ?>/js/ckeditor/filemanager/connectors/php/upload.php?Type=Flash'});
</script>