<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <?php echo $this->headTitle('Admin Area ' . $this->translate('Elegal Media'))->setSeparator(' - ')->setAutoEscape(false); ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0'); ?>
        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                ->appendStylesheet($this->basePath() . '/backend/css/bootstrap.min.css')
                ->appendStylesheet($this->basePath() . '/backend/css/style.css')
                ->appendStylesheet($this->basePath() . '/backend/css/font-awesome.css')
                ->appendStylesheet($this->basePath() . '/backend/css/custom.css');
        ?>
        <!-- Scripts -->
        <?php
        echo $this->headScript()->appendFile($this->basePath() . '/backend/js/jquery.min.js')
                //->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->appendFile($this->basePath() . '/backend/js/bootstrap.min.js')
                ->appendFile($this->basePath() . '/backend/js/metisMenu.min.js')
                ->appendFile($this->basePath() . '/backend/js/custom.js');
        ?>
       	<!-- Override Styles -->
        <?php echo $this->headStyle(); ?>
        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
        <script>
            var baseUrl = '<?php echo $this->basePath(); ?>';
        </script>
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <?php require_once('admin-left-panel.phtml'); ?>
            <div id="page-wrapper">
                <div class="col-md-12 graphs">
                    <?php echo $this->content; ?>
                    <div class="copy_layout">
                        <p>Copyrights &copy; <?php echo date('Y'); ?> eLegalMedia</p>
                    </div>
                </div>
            </div>
            <!-- page-wrapper -->
        </div>
        <?php echo $this->inlineScript(); ?>
    </body>
</html>
