<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <?php echo $this->headTitle('Admin Login ' . $this->translate('Elegal Media'))->setSeparator(' - ')->setAutoEscape(false); ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0'); ?>
        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                ->appendStylesheet($this->basePath() . '/backend/css/bootstrap.min.css')
                ->appendStylesheet($this->basePath() . '/backend/css/style.css')
                ->appendStylesheet($this->basePath() . '/backend/css/font-awesome.css');
        ?>
        <!-- Scripts -->
        <?php
        echo $this->headScript()->appendFile($this->basePath() . '/backend/js/jquery.min.js')
                //->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->appendFile($this->basePath() . '/backend/js/bootstrap.min.js');
        ?>
    </head>
    <body id="login">
        <div class="login-logo">
            <a href="<?php echo $this->url('admin/index'); ?>"><img src="<?php echo $this->basePath();?>/images/logo.png" alt=""/></a>
        </div>
        <h2 class="form-heading">Admin login</h2>
        <div class="app-cam">
            <?php echo $this->content; ?>
        </div>
        <div class="copy_layout login">
            <p>Copyrights &copy; <?php echo date('Y'); ?> eLegalMedia</p>
        </div>
    </body>
</html>
