<div class="banner">
    <script>
        $(function () {
        function split(val) {
        return val.split(/,\s*/);
        }
        function extractLast(term) {
        return split(term).pop();
        }

        $("#city").bind("keydown", function (event) {
        if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
        event.preventDefault();
        }
        }).autocomplete({
        source: function (request, response) {
        // New request 300ms after key stroke
        var $this = $(this);
        var $element = $(this.element);
        var previous_request = $element.data("jqXHR");
        if (previous_request) {
        // a previous request has been made.
        // though we don't know if it's concluded
        // we can try and kill it in case it hasn't
        previous_request.abort();
        }
        // Store new AJAX request
        $element.data("jqXHR", $.getJSON(baseUrl + "/search/autoSuggestCity", {
        term: extractLast(request.term)
        }, response)
                );
        },
        search: function () {
        // custom minLength
        var term = extractLast(this.value);
                if (term.length < 2) {
        return false;
        }
        },
        focus: function () {
        // prevent value inserted on focus
        return false;
        },
        select: function (event, ui) {
        var terms = split(this.value);
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push(ui.item.value);
                // add placeholder to get the comma-and-space at the end
                terms.push("");
                this.value = terms.join("");
                return false;
        }
        });
        });
        /*$('#city').blur(function () {
        var $this = $(this);
        var jqXHR = $(this).data('jqXHR');
        if (jqXHR)
        jqXHR.abort();
        $this.removeData('jqXHR');
        });*/
    </script>
    <!-- container -->
    <div class="container">
        <!--<div class="col-md-4 banner-left">
            <div class="slider2">
                <div id="main-flexslider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="slider-info">
                                <img src="<?php echo $this->basePath(); ?>/images/1.jpg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="slider-info">
                                <img src="<?php echo $this->basePath(); ?>/images/2.jpg" alt="">
                            </div>
                        </li>
                        <li>	
                            <div class="slider-info">
                                <img src="<?php echo $this->basePath(); ?>/images/3.jpg" alt="">
                            </div>
                        </li>
                        <li>	
                            <div class="slider-info">
                                <img src="<?php echo $this->basePath(); ?>/images/4.jpg" alt="">
                            </div>
                        </li>
                        <li>	
                            <div class="slider-info">
                                <img src="<?php echo $this->basePath(); ?>/images/5.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
                $(window).load(function () {
                    $('#main-flexslider').flexslider({
                        animation: "slide",
                        start: function (slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });
            </script>
        </div>-->
        <div class="col-md-12 banner-right">
            <div class="sap_tabs">	
                <div class="booking-info" style="display: none;">
                    <h2>Find legal services according to the requirement(s)</h2>
                </div>
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <!---->		  	 
                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content">
                            <div class="facts">
                                <div class="booking-form">
                                    <!-- Set here the key for your domain in order to hide the watermark on the web server -->
                                    <form action="<?php echo BASE_URL . SEARCH_URL; ?>">
                                        <div class="online_reservation">
                                            <div class="b_room">
                                                <div class="booking_room">
                                                    <div class="reservation">
                                                        <ul><?php
                                                            $keywordSession = new \Zend\Session\Container('keyword');
                                                            $query = isset($keywordSession['query']) ? $keywordSession['query'] : "";
                                                            $city = isset($keywordSession['city']) ? $keywordSession['city'] : "";
                                                            $type = isset($keywordSession['type']) ? $keywordSession['type'] : "";
                                                            ?>	
                                                            <li class="span1_of_1 desti">
                                                                <div class="book_date">
                                                                    <!--<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>-->
                                                                    <input value="<?php echo $query; ?>" name="q" id="q" type="text" placeholder="Find legal" class="typeahead1 input-md form-control tt-input" required="required">
                                                                </div>					
                                                            </li>
                                                            <li class="span1_of_1 desti_city">
                                                                <div class="section_room">
                                                                    <!--<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>-->
                                                                    <input value="<?php echo $city; ?>" name="city" id="city" type="text" placeholder="City" class="typeahead1 input-md form-control tt-input" required="required">
                                                                </div>					
                                                            </li>
                                                            <li class="span1_of_1 desti_type">
                                                                <div class="section_room">
                                                                    <select id="type" name="type" class="frm-field" required="required">
                                                                        <option value="">Select Type</option>
                                                                        <?php foreach (json_decode(USER_TYPE) as $key => $val) {?>                                                                                                                                   
                                                                        <option <?php
                                                                        if ($type == $key) {
                                                                            echo ' selected="selected"';
                                                                        }
                                                                        ?> value="<?php echo $key;?>"><?php echo $val;?></option>
                                                                    <?php }?>
                                                                    </select>
                                                                </div>		
                                                            </li>
                                                            <li class="span1_of_1 desti_search">
                                                                <div class="date_btn">
                                                                    <input type="submit" value="Search" />
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </form>
                                    <!---->
                                </div>	
                            </div>
                        </div>		
                    </div>	
                </div>	
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- container -->
</div>