<div class="footer">
    <!-- container -->
    <script>
        function subscribeMails() {
            var subscribeEmail = $('#subscribeEmail').val();
            if (subscribeEmail == '') {
                alert('Please enter subscribe email.');
                return false;
            }
            $.ajax({
                url: baseUrl + "/page/subscribeEmail",
                type: "POST",
                data: 'email=' + subscribeEmail,
                //contentType: false,
                cache: false,
                //processData: false,
                dataType: "json",
                success: function(data) {
                    if (data.status == true) {
                        alert(data.msg);
                        $('#subscribeEmail').val('');
                    } else {
                        alert("Somethig going wrong!");
                    }
                }
            });
        }
    </script>
    <div class="container">
        <div class="footer-top-grids">
            <div class="footer-grids">
                <div class="col-md-2 footer-grid">
                    <h4>Company</h4>
                    <ul>
                        <li><a title="About Us" href="<?php echo $this->basePath(); ?>/page/aboutus">About Us</a></li>
                        <li><a title="FAQs" href="<?php echo $this->basePath(); ?>/page/faqs">FAQs</a></li>
                        <li><a title="Terms &amp; Conditions" href="<?php echo $this->basePath(); ?>/page/terms">Terms &amp; Conditions</a></li>
                        <li><a title="Privacy" href="<?php echo $this->basePath(); ?>/page/privacy">Privacy</a></li>
                        <li><a title="Contact Us" href="<?php echo $this->basePath(); ?>/page/contactus">Contact Us</a></li>
                        <li><a title="Careers" href="<?php echo $this->basePath(); ?>/page/careers">Careers</a></li>
                        <li><a title="Blog" href="<?php echo $this->basePath(); ?>/blog">Blog</a></li>
                        <li><a title="Feedback" href="<?php echo $this->basePath(); ?>/page/feedback">Feedback</a></li></ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>Lawyer in City</h4>
                    <ul>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Delhi'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=delhi&type=lawyer">Delhi</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Noida'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=noida&type=lawyer">Noida</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Gurgaon'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=gurgaon&type=lawyer">Gurgaon</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Lucknow'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=lucknow&type=lawyer">Lucknow</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Bengaluru'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=bengaluru&type=lawyer">Bengaluru</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Chenai'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=chenai&type=lawyer">Chenai</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Hyderabad'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=hyderabad&type=lawyer">Hyderabad</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Kolkata'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=kolkata&type=lawyer">Kolkata</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>&nbsp;</h4>
                    <ul>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Jaipur'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=jaipur&type=lawyer">Jaipur</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Surat'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=surat&type=lawyer">Surat</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Patna'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=patna&type=lawyer">Patna</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Mumbai'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=mumbai&type=lawyer">Mumbai</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Gorakhpur'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=gorakhpur&type=lawyer">Gorakhpur</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Chandigarh'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=chandigarh&type=lawyer">Chandigarh</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Bhubaneswar'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=bhubaneswar&type=lawyer">Bhubaneswar</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Indore'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=indore&type=lawyer">Indore</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>&nbsp;</h4>
                    <ul class="chf_footer_list">
                        <li><a title="<?php echo urldecode(KEYS) . ' in Rajkot'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=rajkot&type=lawyer">Rajkot</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Siliguri'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=siliguri&type=lawyer">Siliguri</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Pune'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=pune&type=lawyer">Pune</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Guwahati'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=guwahati&type=lawyer">Guwahati</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Kochi'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=kochi&type=lawyer">Kochi</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Ranchi'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=ranchi&type=lawyer">Ranchi</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Ahmedabad'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=ahmedabad&type=lawyer">Ahmedabad</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Ludhiana'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=ludhiana&type=lawyer">Ludhiana</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>&nbsp;</h4>
                    <ul class="chf_footer_list">
                        <li><a title="<?php echo urldecode(KEYS) . ' in Agra'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=agra&type=lawyer">Agra</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Patiala'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=patiala&type=lawyer">Patiala</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Ludhiana'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=ludhiana&type=lawyer">Ludhiana</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Raipur'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=raipur&type=lawyer">Raipur</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Varanasi'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=varanasi&type=lawyer">Varanasi</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Vadodara'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=vadodara&type=lawyer">Vadodara</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Coimbatore'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=coimbatore&type=lawyer">Coimbatore</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Visakhapatnam'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=visakhapatnam&type=lawyer">Visakhapatnam</a></li>
                    </ul>
                </div>
                <div class="col-md-2 footer-grid">
                    <h4>&nbsp;</h4>
                    <ul class="chf_footer_list">
                        <li><a title="<?php echo urldecode(KEYS) . ' in Ghaziabad'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=ghaziabad&type=lawyer">Ghaziabad</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Calicut'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=calicut&type=lawyer">Calicut</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Jodhpur'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=jodhpur&type=lawyer">Jodhpur</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Dehradun'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=dehradun&type=lawyer">Dehradun</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Tinsukia'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=tinsukia&type=lawyer">Tinsukia</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Secunderabad'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=secunderabad&type=lawyer">Secunderabad</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Bhopal'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=bhopal&type=lawyer">Bhopal</a></li>
                        <li><a title="<?php echo urldecode(KEYS) . ' in Meerut'; ?>" href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=meerut&type=lawyer">Meerut</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- news-letter -->
            <div class="news-letter">
                <div class="news-letter-grids">
                    <div class="col-md-4 news-letter-grid">
                        <p>Call Now: <span>+91 901 542 6918</span></p>
                    </div>
                    <div class="col-md-4 news-letter-grid">
                        <p class="mail">Email : <a href="mailto:atozwebworks@gmail.com">atozwebworks@gmail.com</a></p>
                    </div>
                    <div class="col-md-4 news-letter-grid">
                        <form>
                            <input name="subscribeEmail" id="subscribeEmail" type="email" value="" placeholder="Email" required="required">
                            <input onclick="javascript: subscribeMails();" type="button" value="Subscribe">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //news-letter -->
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //footer -->
<div class="footer-bottom-grids">
    <!-- container -->
    <div class="container">
        <div class="footer-bottom-top-grids">
            <div class="col-md-4 footer-bottom-left">
                <h4>Download our mobile Apps</h4>
                <div class="d-apps">
                    <ul>
                        <li><a href="#"><img src="<?php echo $this->basePath(); ?>/images/app1.png" alt="" /></a></li>
                        <!--<li><a href="#"><img src="<?php echo $this->basePath(); ?>/images/app2.png" alt="" /></a></li>
                        <li><a href="#"><img src="<?php echo $this->basePath(); ?>/images/app3.png" alt="" /></a></li>-->
                    </ul>
                </div>
            </div>
            <div class="col-md-4 footer-bottom-left">
                <h4>We Accept</h4>
                <div class="a-cards">
                    <ul>
                        <li><a href="#"><img src="<?php echo $this->basePath(); ?>/images/c1.png" alt="" /></a></li>
                        <li><a href="#"><img src="<?php echo $this->basePath(); ?>/images/c2.png" alt="" /></a></li>
                        <li><a href="#"><img src="<?php echo $this->basePath(); ?>/images/c3.png" alt="" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 footer-bottom-left">
                <h4>Follow Us</h4>
                <div class="social">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="facebook twitter"> </a></li>
                        <li><a href="#" class="facebook chrome"> </a></li>
                        <li><a href="#" class="facebook dribbble"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div class="copyright">
                <p>Copyrights &copy; <?php echo date('Y'); ?> eLegalMedia</p>
            </div>
        </div>
    </div>
</div>
<?php echo $this->inlineScript() ?>
<script defer src="<?php echo $this->basePath(); ?>/js/jquery.flexslider.js"></script>
<script src="<?php echo $this->basePath(); ?>/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo $this->basePath(); ?>/js/script.js"></script>
<script language=JavaScript>
//$(window).bind('contextmenu', false);
</script>