<script>
    var baseUrl = '<?php echo $this->basePath(); ?>';
    $(function () {
        var elements = document.getElementsByTagName("input");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function (e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("This field cannot be left blank");
                }
            };
            elements[i].oninput = function (e) {
                e.target.setCustomValidity("");
            };
        }
    });
</script>
<div class="header">
    <div class="container">
        <div class="header-grids">
            <div class="logo"><?php //echo $this->Params->fromRoute();             ?>
                <h1><a  href="<?php echo BASE_URL; ?>"><span>eLegal</span>Media</a></h1>
            </div>
            <!--navbar-header-->
            <div class="header-dropdown">
                <div class="emergency-grid">
                    <ul>
                        <li>Call Now : </li>
                        <li class="call">+91 901 542 6918</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="nav-top">
            <div class="top-nav">
                <span class="menu"><img src="<?php echo $this->basePath(); ?>/images/menu.png" alt="" /></span>
                <ul class="nav1">
                    <?php
                    $requestUri = explode('/', $_SERVER['REQUEST_URI']);
                    $action = end($requestUri);
                    $city = isset($_GET['city']) ? $_GET['city'] : '';
                    //$action = $this->Params()->fromRoute('action');
                    //$controller = $this->Params()->fromRoute('controller');
//                    $action = $this->getHelperPluginManager()->getServiceLocator()->get('application')->getMvcEvent()->getRouteMatch()->getParam('action', 'index');
//                    $controller = $this->getHelperPluginManager()->getServiceLocator()->get('application')->getMvcEvent()->getRouteMatch()->getParam('controller', 'index');
                    ?>
                    <li class="<?php
                    if ($action == '') {
                        echo 'active';
                    }
                    ?>"><a href="<?php echo BASE_URL; ?>"><?php echo $this->translate('Home'); ?></a></li>
                    <li class="<?php
                    if ($city == 'delhi') {
                        echo 'active';
                    }
                    ?>"><a href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=delhi&type=lawyer">Delhi</a></li>
                    <li class="<?php
                    if ($city == 'mumbai') {
                        echo 'active';
                    }
                    ?>"><a href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=mumbai&type=lawyer">Mumbai</a></li>
                    <li class="<?php
                    if ($city == 'Bengaluru') {
                        echo 'active';
                    }
                    ?>"><a href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=Bengaluru&type=lawyer">Bengaluru</a></li>
                    <li class="<?php
                    if ($city == 'chenai') {
                        echo 'active';
                    }
                    ?>"><a href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=chennai&type=lawyer">Chennai</a></li>
                    <li class="<?php
                    if ($city == 'hydrabad') {
                        echo 'active';
                    }
                    ?>"><a href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=hyderabad&type=lawyer">Hyderabad</a></li>
                    <li class="<?php
                    if ($city == 'kolkata') {
                        echo 'active';
                    }
                    ?>"><a href="<?php echo $this->basePath() . SEARCH_URL . KEYWORD; ?>&city=kolkata&type=lawyer">Kolkata</a></li>                                                        
                        <?php if (!empty($userSession->id)) { ?>
                        <li class="<?php
                        if ($action == 'user') {
                            echo 'active';
                        }
                        ?>"><a href="<?php echo $this->url('user/login', array('action' => 'logout')); ?>"><?php echo $this->translate('Logout'); ?></a>
                            <ul>
                                <li><a href="<?php echo $this->url('user/user', array('action' => 'index')); ?>">Hi! <?php echo ucfirst($userSession->fname); ?></a></li>
                                <li><a href="<?php echo $this->url('user/user', array('action' => 'editprofile')); ?>"><?php echo $this->translate('Edit Profile'); ?></a></li>
                                <li id="lichnagepassword" style="display: none;"><a href="javascript: void(0);" onclick="javascript: openPasswordDiv();"><?php echo $this->translate('Change Password'); ?></a></li>
                            </ul>
                        </li>
                    <?php } ?>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <?php if (empty($userSession->id)) { ?>
                <div class="dropdown-grids">
                    <div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>
                        <div id="loginBox">                
                            <form id="loginForm" action="<?php echo $this->url('user/login', array('action' => 'index')); ?>" method="post">
                                <div class="login-grids">
                                    <div class="login-grid-left">
                                        <fieldset id="body">
                                            <fieldset>
                                                <label for="email">Email</label>
                                                <input type="text" name="email" id="email" required="required">
                                            </fieldset>
                                            <fieldset>
                                                <label for="password">Password</label>
                                                <input type="password" name="password" id="password" required="required">
                                            </fieldset>
                                            <input type="submit" id="login" value="Sign in">
                                            <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
                                        </fieldset>
                                        <span><a href="javascript: void(0);">Forgot your password?</a></span>
                                        <div class="or-grid">
                                            <p>OR</p>
                                        </div>
                                        <div class="social-sits">
                                            <?php
                                            // $code = $this->params()->fromQuery('code', '');
                                            $fbuser = $this->CityList()->facebookLogin();
                                            if (empty($fbuser[0])) {
                                                ?>
                                                <div class="facebook-button">
                                                    <?php echo $fbuser[1]; ?>
                                                </div>
                                                <?php
                                            }
                                            $guser = $this->CityList()->googleLogin();
                                            if (empty($guser[0])) {
                                                ?>
                                                <div class="chrome-button">
                                                    <?php echo $guser[1]; ?>
                                                </div>
                                                <?php
                                            }
                                            if (isset($_GET['code'])) {
                                                header('Location: ' . filter_var(BASE_URL, FILTER_SANITIZE_URL));
                                                exit;
                                            }
                                            ?>
                                            <div class="button-bottom">
                                                <p>New account? <a href="<?php echo $this->url('user/signup'); ?>"><?php echo $this->translate('Signup'); ?></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>