<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('First ' . $this->translate('Legal Services'))->setSeparator(' - ')->setAutoEscape(false); ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0'); ?>
        <!-- Le styles -->
        <?php
        $userSession = new \Zend\Session\Container('siteUser');
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                ->appendStylesheet($this->basePath() . '/css/bootstrap.css')
                ->appendStylesheet($this->basePath() . '/css/style.css')
                ->appendStylesheet($this->basePath() . '/css/flexslider.css')
                ->appendStylesheet($this->basePath() . '/css/jquery-ui.css');
        ?>
        <!-- Scripts -->
        <?php
        echo $this->headScript()->appendFile($this->basePath() . '/js/jquery.min.js', 'text/javascript'/* , array('conditional' => 'lt IE 9',) */)
                ->appendFile($this->basePath() . '/js/modernizr.custom.js')
                ->appendFile($this->basePath() . '/js/menu_jquery.js')
                ->appendFile($this->basePath() . '/js/jquery-ui.js')
                ->appendFile($this->basePath() . '/js/jquery.flexisel.js')
                ->appendFile($this->basePath() . '/js/jquery.marquee.min.js');
        ?>
        <!--<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>-->
        <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion           
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
                // script-for-menu
                $("span.menu").click(function () {
                    $("ul.nav1").slideToggle(300, function () {
                        // Animation complete.
                    });
                });
            });
        </script>

    </head>
    <body>
        <!-- Header Starts -->
        <!--header-->
        <?php require_once('header.phtml');?>
        <!--header-->
        <!-- banner-bottom -->
        <div class="banner-bottom">
            <!-- container -->
            <div class="container">
                <?php echo $this->content; ?>
            </div>
            <!-- container -->
        </div>
        <!-- banner-bottom -->
        <!-- popular-grids -->
        <?php require_once('populargrids.phtml');?>
        <!-- popular-grids -->
        <!-- footer -->
        <?php require_once('footer.phtml');?>
    </body>
</html>
