<div class="popular-grids">
    <!-- container -->
    <div class="container">
        <div class="popular-info">
            <h3>Popular Lawyer</h3>
        </div>
        <!-- slider -->
        <div class="slider">
            <div class="arrival-grids">			 
                <ul id="flexiselPopularGrids">
                    <?php
                    $popularLawyer = $this->CityList()->getPopularLawyer();
                    foreach ($popularLawyer as $val) {
                        $uploadPath = BASE_DIR . "/uploads/images/" . $val['image'];
                        if (isset($val['image']) && !empty($val['image']) && file_exists($uploadPath)) {
                            $imgUrl = $this->basePath() . "/uploads/images/" . $val['image'];
                        } else {
                            $imgUrl = $this->basePath() . "/uploads/images/defaultuser.png";
                        }
                        $url = $val['id'] . "_" . $this->CityList()->cleanUrl($val['name']);
                        ?>
                        <li itemscope itemtype="http://schema.org/Attorney">
                            <a href="<?php echo $this->url('search', array('action' => 'detail', 'id' => $url)); ?>"><img itemprop="image" src="<?php echo $imgUrl; ?>" alt="<?php echo ucwords($val['name'] . " " . $val['address']); ?>" title="<?php echo ucwords($val['name'] . " " . $val['address']); ?>"></a>
                            <a href="<?php echo $this->url('search', array('action' => 'detail', 'id' => $url)); ?>"><?php echo $this->CityList()->truncateString($val['name'], 20); ?></a><?php echo $this->CityList()->truncateString($val['address']); ?>
                        </li>
                    <?php } ?>
                </ul>
                <script type="text/javascript">
                    $(window).load(function () {
                        $("#flexiselPopularGrids").flexisel({
                            visibleItems: 6,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 1
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 2
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>
        <!-- slider -->
    </div>
    <!-- container -->
</div>