<?php
$title = ucfirst($row->title);
$this->headTitle()->prepend($content->title . " " . $title);
$this->headMeta()->appendName('title', $content->meta_title);
$this->headMeta()->setProperty('og:title', $content->meta_title);
$this->headMeta()->appendName('keywords', $content->meta_keyword);
$this->headMeta()->appendName('description', $content->meta_description);
$this->headMeta()->appendName('og:description', $content->meta_description);
$this->headMeta();
?>
<div class="about-info">
    <h2><?php echo $this->escapeHtml($title); ?></h2>
</div>
<div class="faqs-top-grids">
    <div class="blog-grids">
        <div class="col-md-8 blog-left">
            <div class="blog-left-grid single-left-grid">
                <p>Posted By <a href="#"><?php echo ucwords($this->escapeHtml($row->author)); ?></a> &nbsp;&nbsp; on <?php echo date("F j Y", $row->created); ?> &nbsp;&nbsp; <a href="#">Comments (<span id="comments"></span>)</a></p>
                <!--<img src="<?php echo $this->basePath(); ?>/images/banner.jpg" alt="">-->
                <div class="blog-left-right">
                    <?php echo ucfirst($row->content); ?>
                </div>
                <div class="response">
                    <h3>Responses</h3>
                    <?php
                    $i = 0;
                    foreach ($blogComment as $val) {
                        $i++;
                        ?>
                        <div class="media response-info">
                            <div class="media-left response-text-left">
                                <a href="#"><img class="media-object" src="<?php echo $this->basePath(); ?>/uploads/images/defaultuser.png" alt=""></a>
                                <h5><a href="#"><?php echo $val->author; ?></a></h5>
                            </div>
                            <div class="media-body response-text-right">
                                <p><?php echo $val->content; ?></p>
                                <ul>
                                    <li><?php echo date("F j Y", $val->created); ?></li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    <?php } ?>
                </div>
                <div class="opinion">
                    <h3>Leave your comment</h3>
                    <form id="blog-comment" action="javascript:void(0);" onsubmit="javascript: comment(this);" method="post">
                        <input type="text" name="name" id="name" placeholder="Name" required="required">
                        <input type="text" name="email" id="email" placeholder="Email" required="required">
                        <input type="text" name="website" id="website" placeholder="Website URL">
                        <input type="hidden" name="blog_id" id="blog_id" value="<?php echo $row->id; ?>">
                        <textarea name="content" id="content" placeholder="Message" required="required"></textarea>
                        <input name="send" id="send" type="submit" value="SEND">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 blog-right">
            <div class="Categories">
                <h3>Categories</h3>
                <ul>
                    <?php foreach ($blogCategory as $val) { ?>
                        <li><a href="<?php echo $this->url('blog', array('action' => 'index', 'id' => $val->id)); ?>"><?php echo $val->title; ?></a></li>
                    <?php } ?>
                </ul>
            </div>
            <div class="Categories">
                <h3>Archive</h3>
                <ul class="marked-list offs1">
                    <li><a href="#">May 2015 (7)</a></li>
                    <li><a href="#">April 2015 (11)</a></li>
                    <li><a href="#">March 2015 (12)</a></li>
                    <li><a href="#">February 2015 (14)</a> </li>
                    <li><a href="#">January 2015 (10)</a></li>    
                    <li><a href="#">December 2014 (12)</a></li>
                    <li><a href="#">November 2014 (8)</a></li>
                    <li><a href="#">October 2014 (7)</a> </li>
                    <li><a href="#">September 2014 (8)</a></li>
                    <li><a href="#">August 2014 (6)</a></li>                          
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<script>
    function comment() {//data: form.serialize(),
        $.ajax({
            url: baseUrl + "/blog/comment",
            type: "POST",
            data: $('#blog-comment').serialize(),
            //contentType: false,
            cache: false,
            //processData: false,
            dataType: "json",
            success: function (data) {
                if (data.status == true) {
                    alert(data.msg);
                    $('#blog-comment')[0].reset();
                } else {
                    alert("Somethig going wrong!");
                }
            }
        });
    }
    $('#comments').html('<?php echo $i; ?>');
</script>
