<?php
$title = $content->title;
$this->headTitle()->prepend($title);
$this->headMeta()->appendName('title', $content->meta_title);
$this->headMeta()->setProperty('og:title', $content->meta_title);
$this->headMeta()->appendName('keywords', $content->meta_keyword);
$this->headMeta()->appendName('description', $content->meta_description);
$this->headMeta()->appendName('og:description', $content->meta_description);
$this->headMeta();
$noData = 0;
?>
<div class="about-info">
    <h2><?php echo $this->escapeHtml($title); ?></h2>
</div>
<div class="faqs-top-grids">
    <div class="blog-grids">
        <div class="col-md-8 blog-left">
            <?php
            foreach ($results as $row) {
                $noData = 1;
                ?>
                <div class="blog-left-grid">
                    <p>Category <a href="<?php echo $this->url('blog', array('action' => 'index', 'id' => $row->category_id)); ?>"><?php echo ucwords($this->escapeHtml($row->catTitle)); ?></a> &nbsp;&nbsp;Posted By <a href="#"><?php echo ucwords($this->escapeHtml($row->author)); ?></a> &nbsp;&nbsp; on <?php echo date("F j Y", $row->created); ?> &nbsp;&nbsp; <a href="<?php echo $this->url('blog', array('action' => 'blogdetail', 'id' => $row->id)); ?>">Comments (<?php echo $row->cnt; ?>)</a></p>
                    <!--<a href="#"><img src="<?php echo $this->basePath(); ?>/images/banner.jpg" alt=""></a>-->
                    <div class="blog-left-right">
                        <a href="<?php echo $this->url('blog', array('action' => 'blogdetail', 'id' => $row->id)); ?>"><?php echo ucfirst($this->escapeHtml($row->title)); ?></a>
                        <p><?php echo ucfirst(trim(substr(strip_tags($row->content), 0, 150))); ?>...</p>
                    </div>
                </div>
            <?php } if ($noData == 0) { ?>
                <div class="blog-left-grid">
                    <p colspan="5" class="alert alert-danger" role="alert">No data found.</p>
                </div>
            <?php } ?>
            <?php
            // add at the end of the file after the table
            echo $this->paginationControl(
                    // the paginator object
                    $this->results, 'sliding',
                    // the partial to use to render the control
                    array('partial/paginator.phtml', 'Application'),
                    // the route to link to when a user clicks a control link
                    array(
                'route' => 'blog'
                    )
            );
            ?>
        </div>
        <div class="col-md-4 blog-right">
            <div class="Categories">
                <h3>Categories</h3>
                <ul>
                    <?php foreach ($blogCategory as $val) { ?>
                        <li><a href="<?php echo $this->url('blog', array('action' => 'index', 'id' => $val->id)); ?>"><?php echo $val->title; ?></a></li>
                    <?php } ?>
                </ul>
            </div>
            <div class="Categories">
                <h3>Archive</h3>
                <ul class="marked-list offs1">
                    <li><a href="#">May 2015 (7)</a></li>
                    <li><a href="#">April 2015 (11)</a></li>
                    <li><a href="#">March 2015 (12)</a></li>
                    <li><a href="#">February 2015 (14)</a> </li>
                    <li><a href="#">January 2015 (10)</a></li>    
                    <li><a href="#">December 2014 (12)</a></li>
                    <li><a href="#">November 2014 (8)</a></li>
                    <li><a href="#">October 2014 (7)</a> </li>
                    <li><a href="#">September 2014 (8)</a></li>
                    <li><a href="#">August 2014 (6)</a></li>                          
                </ul>
            </div>
            <div class="comments">
                <h3>Recent Comments</h3>
                <?php foreach ($blogComment as $val) { ?>
                    <div class="comments-text">
                        <div class="col-md-3 comments-left">
                            <img src="<?php echo $this->basePath(); ?>/uploads/images/defaultuser.png" alt="">
                        </div>
                        <div class="col-md-9 comments-right">
                            <h5><?php echo $val->author; ?></h5>
                            <a href="<?php echo $this->url('blog', array('action' => 'blogdetail', 'id' => $val->blog_id)); ?>"><?php echo ucfirst(trim(substr(strip_tags($val->content), 0, 50))); ?>...</a> 
                            <p><?php echo date("F j Y g:i:a", $val->created); ?></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                <?php } ?>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
