<?php
$title = 'New Blog';
$this->headTitle()->prepend($title);
?>
<div class="faqs-top-grids">
    <div class="book-grids">
        <div class="book-left-info">
            <h3><?php echo $this->escapeHtml($title); ?></h3>
        </div>
        <div class="book-left-form">
            <?php if ($this->error) { ?>
                <div id="alert-success" onclick="javascript: successClose();" class="alert alert-danger" role="alert"> <?php echo $this->error; ?> </div>
            <?php } ?>
            <?php
            $form = $this->form;
            $form->prepare();
            $form->setAttribute('action', $this->url('blog', array('action' => 'newblog')));
            $form->setAttribute('method', 'post');

            echo $this->form()->openTag($form);
            ?>
            <div class="form-group"><?php
                echo $this->formLabel($form->get('title'));
                echo $this->formElement($form->get('title'));
                echo $this->formElementErrors($form->get('title'));
                ?></div>
            <div class="form-group"> <?php
                echo $this->formLabel($form->get('category_id'));
                echo $this->formElement($form->get('category_id'));
                echo $this->formElementErrors($form->get('category_id'));
                ?></div>
            <div class="form-group"><?php
                echo $this->formLabel($form->get('content'));
                echo $this->formElement($form->get('content'));
                echo $this->formElementErrors($form->get('content'));
                ?></div>
            <div class="form-group"> <?php
                echo $this->formLabel($form->get('status'));
                echo $this->formElement($form->get('status'));
                echo $this->formElementErrors($form->get('status'));
                ?></div>
            <div class="form-group">
                <?php echo $this->formSubmit($form->get('submit'));
                ?></div>
            <?php echo $this->form()->closeTag() ?>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

