<?php
$title = 'Add Contact';
$this->headTitle($title);
?>
<!-- Page Heading -->
<div class="xs">
    <h3><?php echo $this->escapeHtml($title); ?></h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>  <a href="<?php echo $this->url('admin/index'); ?>">Dashboard</a></li>
        <li class="active"><i class="fa fa-edit"></i><?php echo $this->escapeHtml($title); ?></li>
    </ol>

    <div class="well1 white">
        <?php if ($this->error) { ?>
            <div id="alert-success" onclick="javascript: successClose();" class="alert alert-danger" role="alert"> <?php echo $this->error; ?> </div>
        <?php } ?>
        <?php
        $form = $this->form;
        $form->prepare();
        $form->setAttribute('action', $this->url('admin/contact', array('action' => 'add')));
        $form->setAttribute('method', 'post');

        echo $this->form()->openTag($form);
        ?>
        <div class="form-group"><?php
            echo $this->formLabel($form->get('title'));
            echo $this->formElement($form->get('title'));
            echo $this->formElementErrors($form->get('title'));
            ?></div>
        <div class="form-group"><?php
            echo $this->formLabel($form->get('content'));
            echo $this->formElement($form->get('content'));
            echo $this->formElementErrors($form->get('content'));
            ?></div>
        <div class="form-group"> <?php
            echo $this->formLabel($form->get('status'));
            echo $this->formElement($form->get('status'));
            echo $this->formElementErrors($form->get('status'));
            ?></div>
        <div class="form-group">
            <?php echo $this->formSubmit($form->get('submit'));
            ?></div>
        <?php echo $this->form()->closeTag() ?>
    </div>
</div>
