<?php
$title = 'List Content';
$this->headTitle($title);
$noData = 0;
?>
<div class="xs">
    <h3><?php echo $this->escapeHtml($title); ?></h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>  <a href="<?php echo $this->url('admin/index'); ?>">Dashboard</a></li>
        <li class="active"><i class="fa fa-table"></i> <?php echo $this->escapeHtml($title); ?></li>
        <li class="last-child"><a href="<?php echo $this->url('admin/content', array('action' => 'add')); ?>">Add Content</a></li>
    </ol>
    <div class="bs-example4" data-example-id="simple-responsive-table">
        <div class="table-responsive">
            <div onclick="javascript: successClose();" id="alert-success" style="display: none;" class="alert alert-success" role="alert"></div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>title</th>
                        <th>Content</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($results as $row) {
                        $noData = 1;
                        ?>
                        <tr>
                            <th scope="row"><?php echo $page; ?></th>
                            <td><?php echo $this->escapeHtml($row->title); ?></td>
                            <td title="<?php echo trim(strip_tags($row->content)); ?>"><?php echo trim(substr(strip_tags($row->content), 0, 80)); ?></td>
                            <td><?php
                                if ($row->status == 1) {
                                    echo "Active";
                                } else {
                                    echo "InActive";
                                }
                                ?></td>
                            <td><div class="dropdown">
                                    <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog icon_8"></i>
                                        <i class="fa fa-chevron-down icon_8"></i>
                                        <div class="ripple-wrapper"></div></a>
                                    <ul class="dropdown-menu float-right">
                                        <li>
                                            <a href="<?php echo $this->url('admin/content', array('action' => 'edit', 'id' => $row->id)); ?>" title="">
                                                <i class="fa fa-pencil-square-o icon_9"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <!--<li>
                                            <a href="#" title="">
                                                <i class="fa fa-calendar icon_9"></i>
                                                Schedule
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="">
                                                <i class="fa fa-download icon_9"></i>
                                                Download
                                            </a>
                                        </li>-->
                                        <li class="divider"></li>
                                        <li>
                                            <a onclick="return confirm('Are you sure you want to delete?')" href="<?php echo $this->url('admin/content', array('action' => 'delete', 'id' => $row->id)); ?>" class="font-red" title="">
                                                <i class="fa fa-times" icon_9=""></i>
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </td>
                        </tr>
                        <?php
                        $page++;
                    }
                    ?>
                    <?php if ($noData == 0) { ?>
                        <tr>
                            <td colspan="5" class="alert alert-danger" role="alert">No data found.</td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>

            <?php
            // add at the end of the file after the table
            echo $this->paginationControl(
                    // the paginator object
                    $this->results, 'sliding',
                    // the partial to use to render the control
                    array('partial/paginator.phtml', 'Admin'),
                    // the route to link to when a user clicks a control link
                    array(
                'route' => 'admin/content'
                    )
            );
            ?>
        </div>
    </div>
</div>