<?php
$this->headTitle()->prepend($content->title);
$this->headMeta()->appendName('title', $content->meta_title);
$this->headMeta()->setProperty('og:title', $content->meta_title);
$this->headMeta()->appendName('keywords', $content->meta_keyword);
$this->headMeta()->appendName('description', $content->meta_description);
$this->headMeta()->appendName('og:description', $content->meta_description);
$this->headMeta();
?>
<div class="banner-bottom">
    <div class="container">
        <div class="about-info">
            <h2><?php echo $this->escapeHtml($content->title); ?></h2>
        </div>
        <div class="faqs-top-grids">
            <?php if ($this->error) { ?>
                <div id="alert-success" onclick="javascript: successClose();" class="alert alert-danger" role="alert"> <?php echo $this->error; ?> </div>
            <?php } ?>
            <?php if (!empty($_GET['msg'])) { ?>
                <div id="alert-success" onclick="javascript: successClose();" class="alert alert-danger" role="alert"> Email send successfully. </div>
            <?php } ?>
            <div class="contact-info">
                <h4>Miscellaneous Information</h4>
                <p>eLegalMedia provide search lawyer, attorney, legal consultant any where in india. Contact to any time.</p>
            </div>
            <div class="contact-grids">
                <div class="col-md-7 contact-para">
                    <h5>Contact Form</h5>
                    <?php
                    echo $this->form()->openTag($form);
                    foreach ($form as $element) {
                        ?><div class="form-group"><?php
                        echo $this->formLabel($element);
                        echo $this->formElement($element);       // <-- Magic!
                        echo $this->formElementErrors($element);
                        ?>
                        </div>
                        <?php
                    }
                    // Render the closing tag
                    echo $this->form()->closeTag();
                    ?></div>
                <div class="col-md-5 contact-map">
                    <h5>Loaction</h5>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d59247.84555941436!2d-74.00101359585908!3d40.691888370076846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1440747755360" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
