<?php
$this->headTitle()->prepend($content->title);
$this->headMeta()->appendName('title', $content->meta_title);
$this->headMeta()->setProperty('og:title', $content->meta_title);
$this->headMeta()->appendName('keywords', $content->meta_keyword);
$this->headMeta()->appendName('description', $content->meta_description);
$this->headMeta()->appendName('og:description', $content->meta_description);
$this->headMeta();
?>
<div class="about-info">
    <h2><?php echo stripcslashes($content->title); ?></h2>
</div>
<div class="about-grids">
    <div class="col-md-8 about-left">
        <?php echo stripcslashes($content->content); ?>
    </div>
    <div class="col-md-4 about-right">
        <img src="<?php echo $this->basePath(); ?>/images/w1.jpg" alt="" />
    </div>
    <div class="clearfix"> </div>
</div>