<?php
$this->headTitle()->prepend($content->title);
$this->headMeta()->appendName('title', $content->meta_title);
$this->headMeta()->setProperty('og:title', $content->meta_title);
$this->headMeta()->appendName('keywords', $content->meta_keyword);
$this->headMeta()->appendName('description', $content->meta_description);
$this->headMeta()->appendName('og:description', $content->meta_description);
$this->headMeta();
?><!--<div class="banner-bottom-info">
<h3><?php echo $this->translate('Welcome to legal services'); ?></h3>
</div>
<div class="banner-bottom-grids">
<div class="col-md-4 banner-bottom-grid">
    <div class="destinations">
        <ul>
            <li class="button"><a href="javascript: void(0);">Goa Popular Hotels</a>
            <li class="dropdown active">
                <a href="javascript: void(0);">
                    <div class="destinations-grid">
                        <img src="<?php echo $this->basePath(); ?>/images/a1.jpg" alt="" />
                    </div>
                    <div class="destinations-grid-info">
                        <div class="destinations-hotel">Lorem ipsum dolor sit amet , Goa</div>
                        <div class="destinations-star"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                        <div class="destinations-price">$100</div>
                        <div class="clearfix"> </div>
                    </div>
                </a>
            </li>
            </li>
            <li class="button"><a href="javascript: void(0);">Bangalore Popular Hotels</a>
            <li class="dropdown">
                <a href="javascript: void(0);">
                    <div class="destinations-grid">
                        <img src="<?php echo $this->basePath(); ?>/images/a4.jpg" alt="" />
                    </div>
                    <div class="destinations-grid-info">
                        <div class="destinations-hotel">Lorem ipsum dolor sit amet , Bangalore</div>
                        <div class="destinations-star"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                        <div class="destinations-price">$100</div>
                        <div class="clearfix"> </div>
                    </div>
                </a>
            </li>
            </li>							
            <li class="button"><a href="javascript: void(0);">Bangkok Popular Hotels</a>
            <li class="dropdown">
                <a href="javascript: void(0);">
                    <div class="destinations-grid">
                        <img src="<?php echo $this->basePath(); ?>/images/a3.jpg" alt="" />
                    </div>
                    <div class="destinations-grid-info">
                        <div class="destinations-hotel">Lorem ipsum dolor sit amet , Bangkok</div>
                        <div class="destinations-star"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                        <div class="destinations-price">$240</div>
                        <div class="clearfix"> </div>
                    </div>
                </a>
            </li>
            </li>
            <li class="button"><a href="javascript: void(0);">Malaysia Popular Hotels</a>
            <li class="dropdown">
                <a href="javascript: void(0);">
                    <div class="destinations-grid">
                        <img src="<?php echo $this->basePath(); ?>/images/a1.jpg" alt="" />
                    </div>
                    <div class="destinations-grid-info">
                        <div class="destinations-hotel">Lorem ipsum dolor sit amet , Malaysia</div>
                        <div class="destinations-star"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></div>
                        <div class="destinations-price">$320</div>
                        <div class="clearfix"> </div>
                    </div>
                </a>
            </li>
            </li>							 
        </ul>
    </div>
    <div class="choose">
        <div class="choose-info">
            <h4>Why Choose Us</h4>
        </div>
        <div class="choose-grids">
            <div class="choose-grids-info">
                <div class="choose-left">
                    <h5>09</h5>
                    <span>Million</span>
                </div>
                <div class="choose-right">
                    <a href="javascript: void(0);">Aliquam faucibus vehicula vulputate</a>
                    <p>Maecenas euismod tortor a tristique convallis diam eros aliquam.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="choose-grids-info">
                <div class="choose-left">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                </div>
                <div class="choose-right">
                    <a href="javascript: void(0);">Sed tincidunt consectetur augue</a>
                    <p>Nulla bibendum libero in nunc eleifend tincidunt. Aliquam quis molestie lectus</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="choose-grids-info">
                <div class="choose-left">
                    <h6>$</h6>
                </div>
                <div class="choose-right">
                    <a href="javascript: void(0);">Nullam et arcu interdum, accumsan justo</a>
                    <p>Maecenas dapibus eu purus vel imperdiet. Maecenas cursus, arcu sed tempus </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 banner-bottom-grid">
    <div class="banner-bottom-middle">
        <a href="javascript: void(0);">
            <img src="<?php echo $this->basePath(); ?>/images/a2.jpg" alt="" />
            <div class="destinations-grid-info tours">
                <h5>Book your next Malaysia holiday!</h5>
                <p>Integer eget aliquam nibh. Donec blandit volutpat libero id lacinia</p>
                <p class="b-period">Book Period: Now - 7 September 2015 | Travel Period: Now - 31 October 2015 </p>
            </div>
        </a>
    </div>
    <div class="top-destinations-grids">
        <div class="top-destinations-info">
            <h4>Top Destinations</h4>
        </div>
        <div class="top-destinations-bottom">
            <div class="td-grids">
                <div class="col-xs-3 td-left">
                    <img src="<?php echo $this->basePath(); ?>/images/t1.jpg" alt="" />
                </div>
                <div class="col-xs-7 td-middle">
                    <a href="javascript: void(0);">Donec libero id lacinia</a>
                    <p>Dapibus eu purus vel libero in nunc</p>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>
                <div class="col-xs-2 td-right">
                    <p>$190</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="td-grids">
                <div class="col-xs-3 td-left">
                    <img src="<?php echo $this->basePath(); ?>/images/t2.jpg" alt="" />
                </div>
                <div class="col-xs-7 td-middle">
                    <a href="javascript: void(0);">Donec libero id lacinia</a>
                    <p>Dapibus eu purus vel libero in nunc</p>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>
                <div class="col-xs-2 td-right">
                    <p>$213</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="td-grids">
                <div class="col-xs-3 td-left">
                    <img src="<?php echo $this->basePath(); ?>/images/t3.jpg" alt="" />
                </div>
                <div class="col-xs-7 td-middle">
                    <a href="javascript: void(0);">Donec libero id lacinia</a>
                    <p>Dapibus eu purus vel libero in nunc</p>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>
                <div class="col-xs-2 td-right">
                    <p>$176</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="td-grids">
                <div class="col-xs-3 td-left">
                    <img src="<?php echo $this->basePath(); ?>/images/t4.jpg" alt="" />
                </div>
                <div class="col-xs-7 td-middle">
                    <a href="javascript: void(0);">Donec libero id lacinia</a>
                    <p>Dapibus eu purus vel libero in nunc</p>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>
                <div class="col-xs-2 td-right">
                    <p>$490</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 banner-bottom-grid">
    <div class="banner-bottom-right">
        <a href="javascript: void(0);">
            <img src="<?php echo $this->basePath(); ?>/images/a3.jpg" alt="" />
            <div class="destinations-grid-info tours">
                <h5>New Hotel Experiences at Your Favourite Destinations</h5>
                <p>Integer eget aliquam nibh. Donec blandit volutpat libero id lacinia</p>
                <p class="b-period">Book Period: Now - 7 September 2015 | Travel Period: Now - 31 October 2015 </p>
            </div>
        </a>
    </div>
    <div class="news-grids">
        <div class="news-grids-info">
            <h4>Latest News</h4>
        </div>
        <div class="news-grids-bottom">
            <div id="design" class="date">
                <div id="cycler">   
                    <div class="date-text">
                        <a href="javascript: void(0);">August 15,2015</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="date-text">
                        <a href="javascript: void(0);">July 08,2015</a>
                        <p>Nullam non turpis sit amet metus tristique egestas et et orci.</p>
                    </div>
                    <div class="date-text">
                        <a href="javascript: void(0);">February 15,2015</a>
                        <p>Duis venenatis ac ipsum vel ultricies in placerat quam</p>
                    </div>
                    <div class="date-text">
                        <a href="javascript: void(0);">January 15,2015</a>
                        <p>Pellentesque ullamcorper fringilla ipsum, ornare dapibus velit volutpat sit amet.</p>
                    </div>
                    <div class="date-text">
                        <a href="javascript: void(0);">September 24,2014</a>
                        <p>In lobortis ipsum mi, ac imperdiet elit pellentesque at.</p>
                    </div>
                </div>
                <script>
                    function cycle($item, $cycler) {
                        setTimeout(cycle, 2000, $item.next(), $cycler);

                        $item.slideUp(1000, function () {
                            $item.appendTo($cycler).show();
                        });

                    }
                    cycle($('#cycler div:first'), $('#cycler'));
                </script>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"> </div>
</div>-->
